<ion-header>
    <ion-navbar color="nav-des-bg">
        <ion-title>认证中心</ion-title>
        <ion-buttons end>
            <button ion-button tappable (click)="nextOrFinish()" *ngIf="state === 1">
                下一步
            </button>
            <button ion-button tappable (click)="nextOrFinish()" *ngIf="state === 2">
                提交
            </button>
            <button ion-button tappable (click)="nextOrFinish()" *ngIf="state === 3">
                完成
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row class="process">
        <ion-col [class.active]="state === 1" (click)="setState(1)">
            <custom-icon set="cat" name="authentication-id">
            </custom-icon>
            <div>
                身份认证
            </div>
        </ion-col>
        <ion-col [class.active]="state === 2" (click)="setState(2)">
            <custom-icon set="cat" name="authentication-education">
            </custom-icon>
            <div>
                学历认证
            </div>
        </ion-col>
        <ion-col [class.active]="state === 3">
            <custom-icon set="cat" name="authentication-audit">
            </custom-icon>
            <div>
                审核中
            </div>
        </ion-col>
    </ion-row>

    <div *ngIf="state === 1">
        <ion-item>
            <ion-label>真实姓名</ion-label>
            <ion-input placeholder="请输入真实姓名" [(ngModel)]="info.realname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>身份证号</ion-label>
            <ion-input placeholder="请输入身份证号码" [(ngModel)]="info.id_card"></ion-input>
        </ion-item>
        <ion-item-divider></ion-item-divider>
        <ion-item>
            <ion-label>职称证书</ion-label>
            <ion-input placeholder="请输入证件名称" [(ngModel)]="info.position"></ion-input>
        </ion-item>
        <ion-item-divider></ion-item-divider>
        <div class="upload" tappable (click)="upload_postion_img()">
            <input type="image" value="图片"/>
            <div class="upload-icon">
                <ion-icon name="ios-camera-outline"></ion-icon>
            </div>
            <div class="desc">请上传职称证书</div>
        </div>
    </div>

    <div *ngIf="state === 2">
        <ion-item>
            <ion-label>学历</ion-label>
            <ion-input placeholder="请输入学历" [(ngModel)]="info.school"></ion-input>
            <!--<ion-select [(ngModel)]="gaming">-->
            <!--<ion-option value="nes">NES</ion-option>-->
            <!--<ion-option value="n64">Nintendo64</ion-option>-->
            <!--<ion-option value="ps">PlayStation</ion-option>-->
            <!--<ion-option value="genesis">Sega Genesis</ion-option>-->
            <!--<ion-option value="saturn">Sega Saturn</ion-option>-->
            <!--<ion-option value="snes">SNES</ion-option>-->
            <!--</ion-select>-->
        </ion-item>
        <ion-item-divider></ion-item-divider>
        <div class="upload" tappable (click)="upload_school_img()">
            <div class="upload-icon">
                <ion-icon name="ios-camera-outline"></ion-icon>
            </div>
            <div class="desc">请上传学历证书</div>
        </div>
    </div>

    <div *ngIf="state === 3" class="only-center-text">
        <div>
            <ion-icon class="finfish-icon" name="ios-checkmark-circle"></ion-icon>
        </div>
        <div>
            <p>上传成功!</p>
            <p>
                等待审核 期待成为优秀设计师
            </p>
        </div>

    </div>
</ion-content>