page-resetpassword {

  $background-color: #fbfbfb;
  //$font-color: map_get($colors, primary);
  $font-color: black;

  ion-navbar {
    background-color: $background-color !important;
  }
  ion-content {
    background-color: $background-color !important;
  }

  //设置返回文字为透明,不显示返回文字
  .back-button-text {
    color: transparent;
  }

  //设置返回图标为字体颜色
  ion-header ion-navbar button span ion-icon {
    color: $font-color !important;
  }
  .my-header{
    height: 20rem;
  }
  .me-header {
    padding-top: 3rem;
  }
  .me-header .me-avatar {
    background: #fdfdfd;
  }

  .my-icon{
    color: $font-color;
    height: 9rem;
    width: 100%;
    margin-left: 12rem;
    margin-top: 5rem;
  }
  .security-icon{
    font-size: 8rem;
  }
  .my-name{
    color: $font-color;
    font-family: helvetica;
    font-size: 1.6rem;
    text-align: center;
  }
  .me-header .me-name {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: $font-color;
    text-align: center;
    font-size: medium;
    padding-top: 1rem;
  }

  .me-header img {
    width: 50%;
    height: 50%;
    vertical-align: middle;
    text-align: center;
  }

  .reset-form {
    //margin-top: 30%;
    padding-top: 1rem;
  }

  .input-row {
    shadow: 2px, 2px, 2px, 10px, #505050;
    margin-bottom: .4rem;
    width: 80%;
    margin-left: 10%;
  }

  .input-row input {
    height: 3.2rem;
    width: 100%;
    padding-left: 1rem;
  }

  .input-verify input {

  }

  .border-radius {
    border-color: #b4b4b4;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    height: 4rem  !important;
  }

  .get-verify-btn {
    padding: 0rem;
    height: 4rem;
  }

  .get-verify-btn button {
    height: 100%;
    width: 95%;
    margin-left: 5%;
    color: white;
    font-size: 1.4rem;
    background-color: rgba(206, 226, 130, 0.71);
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #6E6E6E !important;
  }

  .reset-btn {
    color: $font-color;
    border-color: $font-color;
    height: 3.2rem;
    margin: auto;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: .5rem;
    margin-bottom: 2rem;
    border-radius: .2rem;
    justify-content: center;
  }

}