page-resetpassword {
  ion-content {
    background-color: #589e83!important;
  }
  .me-header {
    height: 19em;
    padding-top: 3em;
  }
  .me-header .me-avatar {
    border-radius: 3em;
    text-align: center;
    margin: auto;
    height: 6em;
    width: 6em;
    background: #3cb5cf;
  }
  .me-header .me-avatar ion-icon {
    font-size: 6em;
    line-height: 100%;
    margin: auto;
    text-align: center;
  }

  .me-header .me-name {
    text-align: center;
    font-size: large;
    padding-top: 1em;
    color: #171817;
  }

  .me-header .me-name ion-label {
    font-size: small;
    color: #888fac;

  }

  .me-header img {
    width: 50%;
    height: 50%;
    vertical-align: middle;
    text-align: center;
  }

}