page-resetpassword {

  $background-color: #dddddd;
  $font-color: map_get($colors,primary);

  ion-navbar{
    background-color: $background-color !important;
  }
  ion-content {
    background-color: $background-color !important;
  }

  .me-header {
    height: 15em;
    padding-top: 3em;
  }
  .me-header .me-avatar {
    border-radius: 4em;
    text-align: center;
    margin: auto;
    height: 7em;
    width: 7em;
    background: #fdfdfd;
  }
  .me-header .me-avatar ion-icon {
    color: $font-color;
    font-size: 6em;
    line-height: 1em;
    height: 100%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
  }

  .me-header .me-name {
    color: $font-color;
    text-align: center;
    font-size: medium;
    padding-top: 1em;
  }


  .me-header img {
    width: 50%;
    height: 50%;
    vertical-align: middle;
    text-align: center;
  }

  .reset-btn{
    height: 2.2em;
    margin: auto;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-top: .5em;
    margin-bottom: 2em;
    border-radius: .5em;
  }

}