page-comment {

  .comment-item {
    display: inline-flex;
    height: 4rem;
    width: 100%;
  }

  .comment-item .comment-avatar {
    width: 15%;
    height: 100%;
  }

  .comment-time .comment-avatar img{
    border-radius: .5rem;

  }

  .comment-item .content {
    padding-left: 1rem;
    width: 70%;
    height: 100%;
  }

  .comment-item .content ion-row {
  }

  .comment-item .content .name {
    color: #3cb5cf;
  }

  .comment-item .content .comment-content {
    //padding-top: 0.5rem;
    font-size: 1.2rem;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
  }

  .comment-item .content .comment-time {
    position: absolute;
    margin: 0 0 0 0 !important;
    margin-top: 0.5rem !important;
    font-size: 0.8rem;
    color: #9E9E9E;
  }

  .comment-item .favorite-count {
    width: 15%;
    height: 100%;

  }

  .comment-item .favorite-count img{
    border-radius: .5rem;
  }
}