page-slidemenu {

  $font-color: map_get($colors, font-gray);

  ion-list {
    margin-top: 1rem !important;
    margin-left: .5rem;
  }

  button {
    color: $font-color !important;
  }

  ion-icon {
    font-size: .8rem;
  }

  .designer {
    color: map_get($colors, nav-des-bg) !important;
  }

  .employer {
    color: $emp_primary !important;
  }

  .exitbtn {
    color: white !important;

  }
  .exitbtn span {
    margin: auto;
    text-align: left;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;

  }
  .custom-icon {
    min-height: 0 !important;
    font-size: 1.4rem !important;
    padding-left: -10%;
    padding-right: 10%;
  }
}