page-slidemenu {

  $font-color: map_get($colors, font-gray);
  ion-list {
    margin-top: 1.5em !important;
    margin-left: 1em;
  }

  button {
    color: $font-color !important;
  }

  ion-icon {
    font-size: .8em;
  }

  .designer {
    color: map_get($colors, nav-des-bg) !important;
  }

  .employer {
    color: $emp_primary !important;
  }

  .exitbtn{
    color: white!important;

  }
  .exitbtn span{
    margin: auto;
    text-align: left;
    justify-content:flex-start;
    -webkit-justify-content:flex-start;

  }
  .custom-icon{
    padding-left: -10%;
    padding-right: 10%;
  }
}