<ion-header>
</ion-header>
<!--<ion-content style="background-image:url(../../../assets/img/SelectOption.png) " class="my-slide-bgi">-->
<ion-content>

    <div class="my-slide-bgi">
        <img src="assets/img/SelectOption.png"/>
    </div>

    <div style="height: 30%">
        <div style="height: 70%">
        </div>
        <div class="my-font-size" text-center *ngIf="{} === user">
            设计师/雇主昵称
        </div>
        <div class="my-font-size" text-center *ngIf="!({} === user)">
            {{user.nickname}}
        </div>
    </div>

    <ion-list no-lines class="bg-tran">
        <button ion-item (click)="open(messagePage)">
            <custom-icon set="cat" name="mybell" class="custom-icon"
                         [ngClass]="{'designer':isDesigner,'employer':!isDesigner}"
                         item-start></custom-icon>
            系统消息
        </button>

        <button ion-item (click)="open(accountSecurityPage)">

            <custom-icon set="cat" name="my-user-outline" class="custom-icon"
                         [ngClass]="{'designer':isDesigner,'employer':!isDesigner}"
                         item-start></custom-icon>
            账户与安全
        </button>
        <button ion-item (click)="clearCache('comfirm')">

            <custom-icon set="cat" name="my-delete" class="custom-icon"
                         [ngClass]="{'designer':isDesigner,'employer':!isDesigner}"
                         item-start></custom-icon>
            清除缓存
        </button>
        <button ion-item (click)="open(supportPage)">
            <custom-icon set="cat" name="open_bangzhu" class="custom-icon"
                         [ngClass]="{'designer':isDesigner,'employer':!isDesigner}"
                         item-start></custom-icon>
            帮助反馈
        </button>
        <button ion-item (click)="open(aboutPage)">
            <custom-icon set="cat" name="about02" class="custom-icon"
                         [ngClass]="{'designer':isDesigner,'employer':!isDesigner}"
                         item-start></custom-icon>
            关于夜猫
        </button>
    </ion-list>
</ion-content>
<ion-footer>
    <button class="exitbtn" ion-button [color]="maincolor" full (click)="exitApp()">
        退出
    </button>
</ion-footer>