<ion-header>

</ion-header>


<ion-content>
    <!--用户未登录-->
    <div *ngIf="!shared.isLogin()" class="me-header">
        <div class="me-avatar">
            <img src="assets/img/logo1.png"/>
        </div>
        <div class="login_btn_wrapper">
            <button small ion-button outline color="light" tappable (click)="openLoginPage($event)">请登录</button>
        </div>
    </div>

    <!--用户已登录-->
    <div *ngIf="shared.isLogin()" class="me-header">
        <div class="me-avatar">
            <img [src]="shared.getCurrentUser().img_url || 'assets/img/logo1.png'">
        </div>
        <div class="me-name">{{shared.getCurrentUser().nickname || ''}}
            <!--<span><ion-label>-->
            <!--{{user.service_length || ''}}&nbsp;{{user.school || ''}}-->
            <!--<br/>-->
            <!--{{user.position || ''}}-->
            <!--</ion-label></span>-->
        </div>
    </div>


    <ion-list class="ion-list">
    <!--<ion-item>我的订单-->
    <!--<ion-icon name="arrow-forward" item-end></ion-icon>-->
    <!--</ion-item>-->
    <!--<ion-item>我的喵喵-->
    <!--<ion-icon name="arrow-forward" item-end></ion-icon>-->
    <!--</ion-item>-->


    <ion-item     tappable (click)="openComments()">我的评论
    <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item     tappable (click)="openNotifications()" >我的信息
    <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item     tappable (click)="openPayProjects()">我的支付
    <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>
    <ion-item     tappable (click)="openEmpFavoriteDesignerPage()">我关注的设计师
    <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>

    <!--<ion-item tappable (click)="exitApp()" *ngIf="shared.isLogin()">退出登录-->
    <!--<ion-icon name="arrow-forward" item-end></ion-icon>-->
    <!--</ion-item>-->
    <!--<ion-item tappable (click)="exitApp()" *ngIf="!shared.isLogin()">选择角色-->
    <!--<ion-icon name="arrow-forward" item-end></ion-icon>-->
    <!--</ion-item>-->


    <!--test-->
    <!--<ion-item tappable (click)="openNotifications()">系统消息-->
        <!--<ion-icon name="arrow-forward" item-end></ion-icon>-->
    <!--</ion-item>-->

    <!--<ion-item tappable (click)="openNotifications()" >账户与安全-->
    <!--<ion-icon name="arrow-forward" item-end></ion-icon>-->
    <!--</ion-item>-->
    <!--<ion-item >清除缓存-->
    <!--<ion-icon name="arrow-forward" item-end></ion-icon>-->
    <!--</ion-item>-->

    <!--<ion-item tappable (click)="openHelpPage()">帮助-->
        <!--<ion-icon name="arrow-forward" item-end></ion-icon>-->
    <!--</ion-item>-->
    <!--<ion-item tappable (click)="open(supportPage,{})">问题反馈-->
        <!--<ion-icon name="arrow-forward" item-end></ion-icon>-->
    <!--</ion-item>-->
    <!--<ion-item tappable (click)="open(aboutPage,{})">关于夜猫-->
        <!--<ion-icon name="arrow-forward" item-end></ion-icon>-->
    <!--</ion-item>-->

    <!--setRoot有问题-->
    <!--<ion-item-divider></ion-item-divider>-->
    <!--<ion-item tappable (click)="exitApp()" *ngIf="shared.isLogin()">退出登录-->
        <!--<ion-icon name="arrow-forward" item-end></ion-icon>-->
    <!--</ion-item>-->
    <!--<ion-item tappable (click)="exitApp()" *ngIf="!shared.isLogin()">选择角色-->
        <!--<ion-icon name="arrow-forward" item-end></ion-icon>-->
    <!--</ion-item>-->

    <!--test-->
    </ion-list>
</ion-content>