page-addcase {
  ion-label{
    color: #666;
  }

  .p{
    padding-left: 1rem;
  }

  .title {
    color: #4b68dc !important;
  }
  .toolbar-title {
    color: map_get($colors, nav-des-bg) !important;
  }
  .blank {
    width: 100%;
    height: 1.5px;
    background-color: map_get($colors, blank-color);
  }
  .div1css {
    height: 30% !important;
    margin-left: 5%;
    width: 90%;
    border-width: 1000px!important;
    //border-top: #9e9e9e !important;
    //border-bottom: #9e9e9e !important;
    //border-top-width: medium;
    //border-top-style:solid ;

  }

  textarea {
    width: 90%;
    height: 6em;
    //border-color: #c9cacf;
   // border-left: none;
    border-right: none!important;
   // border-top: none;

    resize: none;
    //padding: 5%;
   // margin: 2%;
  }
  .spancss {
    //width: 90%;
    text-align: right;
    //float: right;/
    padding-right: 5%;
    color: #c9cacf;
  }
  .buttoncss {

  }

  .imgs_wraper{
    height: 6rem;
    width: 100%;
    margin: 1rem;
    display: flex;
    img{
      padding: 0.5rem;
      height: 100%;
    }
  }
  .img_add_btn{
    margin: auto;
  }
  .add_btn_wrapper{
    width: 100%;
    height: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}