page-modifyprofile {
  .tit {
    color: #4e72fc !important;
  }
  $color: (
          color1:#4e72fc
  );
  .con {
    background-color: #f7f7f9 !important;

  }
  .top1 {
    width: 100%;
    height: 2em !important;
  }
  .blank {
    width: 100%;
    height: 1.5em !important;
  }
  ion-icon {
    color: #767676 !important;

  }

  .summary-input-group {
    width: 100%;
    background-color: #ffffff;
  }

  .summary-label {
    padding-top: 5%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5%;
    font-size: 1.2em;
  }

  .summary-textarea {
    width: 96%;
    height: 6em;
    border-radius: 10px !important;
    border-color: #c9cacf;
    resize: none;
    padding: 2%;
    margin: 2%;
  }
  .spancss {
    float: right;
    padding-right: 5%;
    color: #c9cacf;
  }
}