<ion-header>

</ion-header>


<ion-content>
    <!--用户未登录-->
    <div *ngIf="isNullObj(user)" class="me-header">
        <div class="me-avatar">
            <img src="assets/img/logo.png"/>
        </div>
        <div class="login_btn_wrapper">
            <button small ion-button outline color="light" (click)="openLoginPage($event)">请登录</button>
        </div>
    </div>

    <!--用户已登录-->
    <div *ngIf="!isNullObj(user)" class="me-header" (click)="opendetail(designerMeDetailPage,{isDesigner:true})">
        <div class="me-avatar">
            <img [src]="user.img_url || 'assets/img/logo.png'">
        </div>
        <div *ngIf="!isNullObj(user)" class="me-name">
            {{user.nickname || ''}}
            <span><ion-label>
                {{user.service_length || ''}}&nbsp;
                {{user.school || ''}}
                <br/>
                {{user.position || ''}}
            </ion-label></span>
        </div>
    </div>
    <page-slidemenu></page-slidemenu>
</ion-content>
<ion-footer>
    <button class="exitbtn" ion-button [color]="maincolor" full (click)="exitApp()">
        退出
    </button>
</ion-footer>