page-me-designer {

  .me-header {
    background-color: map_get($colors, nav-des-bg);
    height: 23rem;
    padding-top: 3rem;
  }

  .me-header .me-avatar {
    border-radius: 5rem;
    text-align: center;
    margin: auto;
    height: 10rem;
    width: 10rem;
    background-color: transparent;
  }

  .me-avatar img {
    width: 100% !important;
    height: 100% !important;
    max-width: 100%;
    min-width: 100%;
  }

  .me-header .me-name {
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
    color: #ecf3ed;
  }

  .me-header .me-name ion-label {
    font-size: 1.25rem;
    color: #b7bfe5;
  }

  .me-header img {
    width: 50%;
    height: 50%;
    vertical-align: middle;
    text-align: center;
  }

  ion-item {
    padding-left: 1rem !important;
  }
  ion-item ion-icon{
    color: #d9d9d9;
  }
}
