<ion-header no-border>
    <ion-navbar color="emp-primary">
        <ion-title>关注的设计师</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="ios-arrow-down"
                pullingText="下拉刷新"
                refreshingSpinner="dots"
                refreshingText="刷新中">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list class="my-list">
        <ion-item-sliding *ngFor="let item of users">
            <ion-item tappable (click)="openDesigner(item)">
                <div class="my-li">
                    <div class="my-li-img">
                        <img [src]="item.img_url" alt=""/>
                    </div>
                    <div class="my-li-right1">
                        <div class="my-li-right-t1">
                            <div class="my-li-right-t-name1">{{item.nickname}}</div>
                            <div class="my-li-right-t-r1">
                                <!--已认证-->
                                <!--todo 页面调整-->
                                <img src="assets/img/yinzhang.png">
                            </div>
                        </div>
                        <div class="my-li-right-c1">{{item.type}}</div>
                        <div class="my-li-right-b1">{{item.summary}}</div>
                    </div>
                </div>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="emp-primary" tappable (click)="unfollow(item)">
                    <ion-icon name="delete"></ion-icon>
                    <div *ngIf="favorite">
                        取&nbsp;消&nbsp;关&nbsp;注&nbsp;
                    </div>
                    <div *ngIf="!favorite">
                        重&nbsp;新&nbsp;关&nbsp;注&nbsp;
                    </div>
                    &nbsp;
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>