page-casedetail {
  ion-card {
    margin: 0em !important;
    width: 100% !important;
  }

  .close-btn {
    //float: right;
  }

  .comment-item{
    border-bottom: 1px solid #d6d6d6 !important;
  }

  .comment-container {
    font-size: .9em;
  }

  .comment-avatar-title {
    display: inline-flex;
  }

  .comment-avatar {
    //width: 1em !important;
    height: 1em !important;
    //max-width: 1em !important; //any size
    max-height: 1em !important; //any size
    //min-width: 1em !important;
    min-height: 1em !important;
  }
  .comment-avatar img {
    width: 100% !important;
    height: 100% !important;
    max-width: 1em !important; //any size
    max-height: 1em !important; //any size
    margin: auto;
    margin-right: 0 !important;
    text-align: center;
  }

  .comment-title {
    vertical-align: middle;
    margin: auto;
    text-align: center;
    font-weight: 500;
  }

  .comment-content {
  color: #484848;
  }


  .comment-content-bottom{
    display: inline-flex;
    margin: auto;
    text-align: center;
    width: 100%;
  }

  .comment-time{
    color: gray;
    padding-top: .3em;
    font-size: .8em;
    width: 40%;
    margin-right: 0em;
    margin-left: 0em;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
  }

  .comment-content-bottom ion-buttons{
    width: 60%;
  }
}