<ion-header no-border>
    <ion-navbar color="nav-des-bg">
        <ion-title>
            我的钱包
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="open(designerWithDrawPage)">
                提现
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>

    <div class="money-all">
        <div class="introduce">
            <div class="unit">钱包余额（元）</div>
            <div class="icon-show" item-end>
                <ion-icon name="ios-eye-outline" *ngIf="showBalance" (click)="toggleShowBanalce()"></ion-icon>
                <ion-icon name="ios-eye-off-outline" *ngIf="!showBalance" (click)="toggleShowBanalce()"></ion-icon>
            </div>
        </div>
        <div class="money-amount" *ngIf="showBalance">0.00</div>
        <div class="money-amount" *ngIf="!showBalance">----</div>
    </div>
    <div class="record">
        <div class="unit">
            <div class="desc"> 近30天收入
            </div>
            <div class="amount">
                0.00
            </div>
        </div>
        <div class="unit">
            <div class="desc"> 累计提现
            </div>
            <div class="amount">
                0.00
            </div>
        </div>
    </div>

    <br/>
    <br/>

    <ion-item no-lines class="money-detail" (click)="open(consumeDetail)">
        <ion-icon name="ios-eye-outline" item-start></ion-icon>
        钱包明细
        <ion-icon name="arrow-forward" item-end></ion-icon>
    </ion-item>


</ion-content>