page-wallet {
  ion-content {
    background-color: #ECECEC !important;
  }
  .money-all {

    padding-top: 3.5rem;
    padding-left: 3rem;
    height: 15rem;
    background-color: $des-primary;
  }
  .introduce {
    position: relative;
    display: inline-flex;
    color: #FFFFFF;
    font-size: 1.2rem;
    //padding-top: 5%;
    width: 100%;
  }
  .introduce .unit {
    font-size: 2rem;
    width: 50%;
  }
  .introduce .icon-show {
    position: absolute;
    right: 0;
    width: 10%;
    font-size: 2rem;
    padding-top: .5rem;
  }

  .money-amount {
    color: #FFFFFF;
    font-size: 6rem;
    font-weight: 500;
    padding-top: 1rem;
  }

  .record {
    padding: 1.2rem;
    //height: 8rem;
    display: inline-flex;
    width: 100%;
    background-color: #FFFFFF;
  }

  .record .unit {
    color: #9E9E9E;
    width: 50%;
    padding-left: 2rem;
    border-right: 1px solid #c6c6c6;
  }
  .record .unit:last-child {
    border: 0;
  }

  //.record .unit .desc {
  //  //height: 30%;
  //  //padding-left: 25%;
  //  //padding-top: 5%;
  //}

  .record .unit .amount {
    color: #F45D07;
    padding-top: 0.5rem;
    font-size: 2.5rem;
  }

  .money-detail{
    height: 6rem !important;
    font-size: 1.6rem;
  }
}