<ion-content>
    <div class="background-div">
        <img src="assets/img/SelectOption.png">
    </div>
    <!--手机 密码-->
    <div [class.out-window]="current != 1" [class.on-window]="current == 1" class="ion-content-class ">
        <div class="null-only-height">欢迎注册成为夜猫会员</div>
        <form class="myInput">
            <div class="name">
                <input type="number" name="phone" [(ngModel)]="user.phone" placeholder="请输入手机号">
            </div>
            <div class="verify">
                <input type="text" [ngModelOptions]="{standalone: true}" name="captcha" maxlength="6"
                       [(ngModel)]="captcha" placeholder="输入验证码">
                <button class="butdiv" tappable (click)="getCaptcha()" [disabled]='captchaDisabled'>
                    {{captchaText}}
                </button>
            </div>
            <div class="password">
                <input type="password" name="passowrd" [ngModelOptions]="{standalone: true}" [(ngModel)]="password"
                       placeholder="请输入密码">
            </div>
            <div class="password">
                <input type="password" name="confirm" [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="confirmPassword" placeholder="请确认密码">
            </div>
        </form>
        <button ion-button round class="login-btn" tappable (click)="next()">下一步</button>
        <p class="login" tappable (click)="pop()">已经拥有一个账号？</p>
    </div>

    <!--头像 昵称-->
    <div [class.out-window]="current != 2" [class.on-window]="current == 2" class="ion-content-class">

        <button ion-button clear margin-top>
            <ion-icon clear name="ios-arrow-back" (click)="back()"></ion-icon>
        </button>

        <div class="null-only-height">欢迎来夜猫</div>
        <div class="avatar" tappable (click)="open_pop()">
            <div *ngIf="btn_avatar_state===1">选择头像</div>
            <img *ngIf="btn_avatar_state != 1" [src]="avatar">
        </div>

        <!--弹出选择头像-->
        <div class="pop-bg" *ngIf="pop_is_open">
            <div class="choose">
                <div class="title">头像选择</div>
                <div class="imgs">
                    <img *ngFor="let item of emojiarray" [src]="item" tappable (click)="select(item)"/>

                    <!--选择图片-->
                    <a class="select-img" (click)="selectPhoto()">
                        <img src="assets/img/photo.png"/>
                    </a>
                </div>
                <div class="buttons">
                    <button ion-button full color="transparent-color" (click)="close_pop()">取消</button>
                </div>
            </div>
        </div>
        <!--<div class="my-list" *ngIf="btn_avatar_state===10">-->
        <!--<div class="my-ul clearfloat">-->
        <!--<div class="my-li"-->
        <!--*ngFor="let item of emojiarray"-->
        <!--[class.img-selected]="avatar === item&&avatar!='assets/img/Rectangle.png'">-->
        <!--<img [src]="item" tappable (click)="select(item)" alt=""/></div>-->
        <!--</div>-->
        <!--<div class="my-bottom">-->
        <!--<div class="my-bottom-l">-->
        <!--<button tappable (click)="complete(1)">取消</button>-->
        <!--</div>-->
        <!--<div class="my-bottom-r my-selected">-->
        <!--<button tappable (click)="complete(3)">确定</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <form class="myInput">
            <div class="name">
                <input type="text" name="nickname" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.nickname"
                       placeholder="请输入昵称">
            </div>
            <!--todo-->

        </form>
        <button ion-button round class="login-btn" tappable (click)="before_register()">注册</button>

    </div>

    <div class="ion-content-class" [class.out-window]="current != 3" [class.on-window]="current == 3">
        <div class="welcome-page">
            <div class="logo">
                <ion-icon name="ios-checkmark-circle-outline"></ion-icon>
                <div>

                </div>

            </div>

            <button ion-button class="completebutton"

                    round>
                完善您的个人资料
            </button>
            <br>
            <div class="or">or</div>
            <button ion-button class="desbutton"
                    tappable (click)="openHome()"
                    round>
                直接进入主页
            </button>
        </div>

    </div>

    <div *ngIf="state===8">


        <ion-item class="header-bar-color">
            <div class="person-div">
                <ion-icon class="person-class"
                          name="ios-person" item-start padding-left="2em"></ion-icon>
            </div>
        </ion-item>
        <div class="register-form">
            <ion-item no-lines>
                <ion-label class="form-label" stacked>基本资料</ion-label>
                <ion-input type="text" value="" placeholder="昵称"></ion-input>
            </ion-item>
            <div class="blank-height"></div>
            <ion-item no-lines>
                <ion-input type="text" value="" placeholder="手机号"></ion-input>
            </ion-item>
            <div class="blank-height"></div>


            <ion-item class="verify-input" no-lines>
                <ion-input type="text" value="" placeholder="验证码"></ion-input>
                <button ion-button item-end tappable (click)="getCaptcha()" disabled={{captchaDisabled}}>
                    {{captchaText}}
                </button>
            </ion-item>
            <ion-item no-lines>
                <ion-label class="form-label" stacked>设置密码</ion-label>
                <ion-input type="password" value="" placeholder="密码"></ion-input>
            </ion-item>
            <div class="blank-height"></div>

            <ion-item no-lines>
                <ion-input type="password" value="" placeholder="确认密码"></ion-input>
            </ion-item>
            <br/>
        </div>
        <button ion-button round full class="register-button">注册</button>
        <button ion-button clear full class="login-text" tappable (click)="openLoginPage()">
            已有账号，登陆&nbsp;&nbsp;
            <ion-icon name="ios-help-circle-outline" end></ion-icon>
        </button>


    </div>


</ion-content>