grab-order {

  ion-content {
    position: relative;
    background-color: #f7f6fb !important;
  }
  ion-item {
    margin: 1rem 0rem!important;
  }
  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}