<div class="ioncontent">
    <div class="null-project">
        <img src="assets/img/project-null.png">
    </div>
    <p class="null-porject-toast" *ngIf="share.isDesModule()">
        当前没有工程, 海量工程任你选
    </p>
    <p class="null-porject-toast" *ngIf="!share.isDesModule()">
        当前没有工程, 海量资深设计师任你选
    </p>

    <button ion-button class="null-project-button des_primary" *ngIf="share.isDesModule()"
            tappable (click)="openFindOrder()">
        寻找工程
    </button>
    <button ion-button class="null-project-button emp_primary" *ngIf="!share.isDesModule()"
            tappable (click)="openFindOrder()">
        寻找项目
    </button>
</div>

