no-project{

  background-color: #f0f0f0 !important;
  text-align: center;

  .null-project {
    //text-align: center;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    // padding-top: 3rem;
  }

  .null-project img {
    max-height: 100%;
    height: 10rem;
    width: 10rem;
  }

  .null-porject-toast {
    font-size: 1.5rem;
    width: 80%;
    margin-left: 10%;
    color: gray;
  }

  .null-project-button{
    width: 60%;
    font-size: 1.5rem;
    background-color: white;
    border: 1px solid;
    margin: 0.5rem auto;
    border-radius: .5em !important;
  }


  .des_primary{
    color: $des_primary;
  }

  .emp_primary{
    color: $emp_primary;
  }
}