page-pulishtask{
  .content{
    background-color: #f3f8fb
  }
  .divblank{
    height:10px;
    width: 100%
  }
  .lable{
    color: #5676FC!important;
    font-size: 1.15em;
    width: 35%;
    margin-left: 10px;
  }

  .divblank1{
    height:3px;
    width: 100%
  }

  .divcss{
    width: 100%;
    background-color: #ffffff;
  }
  .textareacss{
    width: 100%;
    height:6em;
    border-radius: 10px!important;
    resize : none;
  }

  .pcss{
    margin-left: 5%;
    color: #5676FC
  }
  .div1css{
    height: 60%!important;
    margin-left: 5%;
    width: 90%;
    border: #9e9e9e !important;
    border-width: medium;

  }
}