page-helpchoose {

  $grid-border-color: #cccccc;
  $grid-font-color: #292929;
  .titlecss {
    color: $grid-border-color !important;
  }
  .toolbar-title {
    color: $grid-border-color !important;
  }

  .content-title-div {
    font-size: 1.5em;
    margin-top: 1em;
    color: $emp_primary;
    text-align: center;
  }
  .order-type-grid {
    color: $grid-font-color;
    margin-top: 2em;
  }

  .order-type-grid {
    padding-left: 1em;
    padding-right: 1em;
  }

  .designer-type-col {
    //margin: auto;
    //text-align: center;
    margin-top: .5em;
  }

  .designer-type-col div {
    background-color: #be84ff;
    height: 7em;
    width: 7em;
    margin: auto;
    font-size: 0.5em;
    border-radius: 10%;
    padding-top: .2em;

    padding-bottom: .2em;
    //border-right-width: 0px;
    //margin-outside: white;
    color: white;
  }

  .designer-type-icon {
    padding-top: -5px;
    color: white;
    font-size: 6em;
    //line-height: 30px;
  }

  .order-type-col img {

  }
  .tip {
    text-align: center;
    color: #9E9E9E;
  }
  .tip-button {
    margin-left: 15%;
    width: 70%;
    height: 2.5em;
    color: white;
    font-size: 1.5em;
    background-color: $emp_primary;
    border-radius: 1.5em;
    margin-bottom: .5em;
  }

  .position-btns {
    margin-top: 4em;
  }
  .selectbutton {
    margin-left: 30%;
    //margin-right: 25%;
    width: 40%;
    height: 2em;
    color: $emp_primary;
    font-size: 1em;
    background-color: white;
    border: $emp_primary;
    border-width: 1px;
    border-style: solid;
    margin-top: .5em;

  }

  .blank {
    height: 40%;
    width: 100%;
  }
  .con {
    width: 100%;
    height: 100%;
  }
  .link {
    color: $emp_primary;
  }

  .detail-require {
    height: 60% !important;
    margin-top: 3em;
    margin-left: 10%;
    width: 80%;
    border: #9e9e9e !important;
    border-width: medium;

  }

  .footer-tip {
    text-align: center;
    color: #9E9E9E;
    margin-bottom: .5em;
  }
  .summary-textarea {
    width: 100%;
    height: 10em;
    border-color: #cacaca;
    border-radius: 5px !important;
    resize: none;
    padding-left: 1em;
    padding-top: 1em;
    padding-right: 1em;
  }
}