<ion-header>
    <ion-navbar no-lines>
        <ion-title>
            完成问卷找到设计师
        </ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="openEmployer()">关闭</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="con" *ngIf="state === 1">
        <div class="content-title-div">您想设计哪一类建筑工程？</div>
        <ion-grid class="designer-types-grid">
            <ion-row>
                <ion-col *ngFor="let typeitem of types; let i = index"
                         col-3 class="designer-type-col" text-center>
                    <div class="designer-type-container"
                         [style.background-color]="typeitem.color">
                        <ion-icon class="designer-type-icon" [name]="typeitem.icon"></ion-icon>
                        <br>
                        {{ typeitem.name }}
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="blank"></div>

    </div>

    <div class="con" *ngIf="state === 2">
        <div class="content-title-div">请选择设计师职称等级</div>
        <div class="position-btns">
            <button class="tip selectbutton" [class.selected]="position === 1" (click)="selectPosition(1)">初级工程师
            </button>
            <button class="tip selectbutton" [class.selected]="position === 2" (click)="selectPosition(2)">中级工程师
            </button>
            <button class="tip selectbutton" [class.selected]="position === 3" (click)="selectPosition(3)">高级工程师
            </button>
        </div>
    </div>

    <div class="con" *ngIf="state === 3">
        <div class="content-title-div">请选择设计师是否认证</div>
        <div class="position-btns">
            <button class="tip selectbutton" [class.selected]="authenticate === 0" (click)="selectAuthenticate(0)">
                未认证工程师
            </button>
            <button class="tip selectbutton" [class.selected]="authenticate === 1" (click)="selectAuthenticate(1)">
                已认证工程师
            </button>
        </div>


    </div>

</ion-content>
<ion-footer>
    <div class="detail-require" *ngIf="state === 3">
        <textarea placeholder="填写更详细的需求，可以帮您更快的找到合适的设计师哦" class="summary-textarea"></textarea>
    </div>
    <div>
        <div class="footer-tip">共3问当前第{{state}}问&nbsp;&nbsp;
            <a class="link" (click)="openPage()">提交问卷</a>
        </div>
        <button (click)="nextOrFinish()" *ngIf="state < 3" class="tip-button">下一问 ></button>
        <button (click)="nextOrFinish()" *ngIf="state === 3" class="tip-button">确认提交</button>
    </div>
    <div class="jump-question">
        <div>跳过</div>
    </div>

</ion-footer>