page-pulishtask {
  .preBudget {
    position: relative;
    ion-icon {
      position: absolute!important;
      right: 1.5rem!important;
      bottom: 1rem!important;
    }
  }

  ion-item{
    padding: 0 1rem!important;
    border-radius: 0.5rem!important;
    box-sizing: border-box!important;
    width: 95%!important;
    margin: auto!important;
  }
  .item-border{
    border: 1px solid ;
  }

  ion-item.no-radius{
    border-radius: 0!important;
  }
  ion-item.no-bottom-radius{
    border-radius:0.5rem 0.5rem  0 0 !important;
  }
  ion-item.no-up-radius{
    border-radius: 0 0 0.5rem 0.5rem  !important;
  }

  .designer{
    .input-has-focus{
      ion-label{
       // color: map_get($colors,des-primary)!important;
      }
    }
    .radio-checked{
      .radio-inner{
        border-color:map_get($colors,des-primary)!important ;
      }
    }
    .item-radio-checked{
      ion-label{
        color: map_get($colors,des-primary)!important ;
      }
    }
  }
  .employer{
    .input-has-focus{
      ion-label{
        color: map_get($colors,emp-primary)!important;
      }
    }
    .radio-checked{
      .radio-inner{
        border-color:map_get($colors,emp-primary)!important ;
      }
    }
    .item-radio-checked{
      ion-label{
       // color: map_get($colors,emp-primary)!important ;
      }
    }
  }

  .content {
    background-color: #f3f8fb;
  }
  .my-item {

  }
  .my-item ion-label, ion-select, ion-input, ion-segment-button {
    font-size: 1.5rem !important;
  }
  .design-depth {
    display: inline-flex !important;
    width: 100%;
  }
  .select-ios .select-icon {
    top: 5px;
  }
  .design-depth ion-label {
    width: 6rem !important;
  }

  .lable {
    //color: #5676FC !important;
    font-size: .5rem;
    width: 35%;
    margin-left: 1rem;
  }

  .blank-3px {
    height: 0.25rem;
    width: 100%
  }

  .blank-10px {
    height: 1rem;
    width: 100%
  }

  .tip-small-label {
    color: #9E9E9E;
    font-size: 1.2rem;
    padding-left: 1rem;
    height: 45px;
    text-align: left;
    line-height: 45px;
  }

  .divcss {
    width: 100%;
    background-color: #ffffff;
  }
  .summary-textarea {
    width: 100%;
    height: 6rem;
    border-radius: 0.5rem !important;
    resize: none;
  }

  .pcss {
    //margin-left: 5%;
    //color: #5676FC
  }
  .div1css {
    height: 60% !important;
    //margin-left: 5%;
    width: 100%;
    border: #9e9e9e !important;
    border-width: medium;
  }
  .item-ios.item-block .item-inner {
    border: 0;
  }

  .labelcolor{
    color: $label-ios-text-color;
  }
  .photo{
    height: 8rem;
    width: 70%;
    margin-left: 15%;
    border: 2px #9e9e9e solid;
    border-radius: 0 0 0.5rem 0.5rem  !important;

    img{
      height: 2rem;
      width: 2rem;
    }
  }
}