page-pulishtask {
  .content {
    background-color: #f3f8fb;

  }
.my-item{

}
  .my-item ion-label,ion-select,ion-input,ion-segment-button{
    font-size: 1.5rem!important;
  }
  .design-depth {
    display: inline-flex !important;
    width: 100%;
  }

  .design-depth ion-label {
    width: 6rem !important;
  }

  .lable {
    color: #5676FC !important;
    font-size: .5rem;
    width: 35%;
    margin-left: 1rem;
  }

  .blank-3px {
    height: 0.25rem ;
    width: 100%
  }

  .blank-10px {
    height: 1rem;
    width: 100%
  }

  .tip-small-label{
    color: #9E9E9E;
    font-size: .4rem;
    padding-left: .5rem;
    height: auto;
  }

  .divcss {
    width: 100%;
    background-color: #ffffff;
  }
  .summary-textarea {
    width: 100%;
    height: 6rem;
    border-radius: 1rem !important;
    resize: none;
  }

  .pcss {
    margin-left: 5%;
    color: #5676FC
  }
  .div1css {
    height: 60% !important;
    margin-left: 5%;
    width: 90%;
    border: #9e9e9e !important;
    border-width: medium;
  }
}