<div class="my-list">
    <div class="my-ul" *ngFor="let item of orderlist">
        <div *ngIf="(item.status >= statusMin &&item.status <= statusMax)&&!isDesigner">
            <div class="my-li" 
                  tappable (click)="openProjectProcess(item)">
                <div class="my-li-img">
                    <img [src]=item.img alt=""/>
                </div>
                <div class="my-li-right">
                    <div class="my-li-right-t">
                        <div class="my-li-right-t-name">{{item.title}}</div>
                    </div>
                    <div class="my-li-right-b">
                        <div class="my-li-right-b-l" *ngIf="item.status==0">{{item.fav_count}}人抢单</div>
                        <div class="my-li-right-b-r" *ngIf="item.status >= 0 &&item.status <= 0">{{item.time}}后截止抢单
                        </div>

                        <div class="my-li-right-b-money" *ngIf="item.status >= 1 &&item.status <= 5"
                        >¥{{item.fav_count}}元
                        </div>
                        <div class="my-li-right-b-r" *ngIf="item.status ==3">正在审图
                        </div>

                        <div class="my-li-right-b-r"
                             *ngIf="item.status >= 1 &&item.status <= 2">设计时间{{item.time}}
                        </div>
                    </div>
                </div>
            </div>
            <!--已发布状态-->

            <!--选择设计师状态-->
            <div class="my-bottom" *ngIf="0==item.status">
                <div class="my-bottom-li act"
                tappable (click)="open(designerList,{previousPage:'chooseDesigner'})">选择设计师</div>
                <div class="my-bottom-li"  tappable (click)="cancelProject()">取消订单</div>
            </div>
            <!--支付状态-->
            <div class="my-bottom" *ngIf="1==item.status">
                <div class="my-bottom-li act">支付</div>
                <div class="my-bottom-li"  tappable (click)="cancelProject()">取消订单</div>
            </div>
            <!--待收货状态-->
            <div class="my-bottom" *ngIf="2==item.status||3==item.status||4==item.status">
                <div class="my-bottom-li act" *ngIf="2==item.status||3==item.status">收货</div>
                <div class="my-bottom-li" *ngIf="2==item.status">一键审图</div>
                <div class="my-bottom-li act" *ngIf="4==item.status">评价</div>
            </div>


        </div>

    </div>

    <div class="my-ul" *ngFor="let item of orderlist">
        <div *ngIf="(item.status >= statusMin &&item.status <= statusMax)&&isDesigner">
            <div class="my-li" 
                  tappable (click)="openProjectProcess(item)">
                <div class="my-li-img">
                    <img [src]=item.img alt=""/>
                </div>
                <div class="my-li-right">
                    <div class="my-li-right-t">
                        <div class="my-li-right-t-name">{{item.title}}</div>
                    </div>
                    <div class="my-li-right-b">
                        <div class="my-li-right-b-l" *ngIf="item.status==0">{{item.fav_count}}人抢单</div>
                        <div class="my-li-right-b-r" *ngIf="item.status ==0">等待雇主确认
                        </div>

                        <div class="my-li-right-b-money" *ngIf="item.status >= 1 &&item.status <= 5"
                        >¥{{item.fav_count}}元
                        </div>
                        <div class="my-li-right-b-r" *ngIf="item.status ==3">正在审图
                        </div>

                        <div class="my-li-right-b-r"
                             *ngIf="item.status >= 1 &&item.status <= 2">设计时间{{item.time}}
                        </div>
                    </div>
                </div>
            </div>
            <!--已发布状态-->

            <!--选择设计师状态-->
            <div class="my-bottom" *ngIf="0==item.status">
                <div class="my-bottom-li act">接单</div>
                <div class="my-bottom-li">取消抢单</div>
            </div>
            <!--支付状态-->
            <!--<div class="my-bottom" *ngIf="1==item.status">-->

            <!--</div>-->
            <!--待收货状态-->
            <div class="my-bottom" *ngIf="2==item.status||3==item.status">
                <div class="my-bottom-li act" *ngIf="2==item.status||3==item.status">确认已交付</div>
                <div class="my-bottom-li" *ngIf="2==item.status">一键审图</div>
            </div>

        </div>

    </div>
</div>

<ion-content *ngIf="isEmpty()" class="ioncontent">
    <div class="null-project">
        <img src="assets/img/project-null.png">
    </div>
    <p class="null-porject-toast">
        当前没有工程, 海量资深设计师任你选
    </p>

    <button ion-button class="null-project-button"   tappable (click)="openFindOrder()">寻找项目</button>
    <!--<button ion-button class="null-project-button"     tappable (click)="openPulishTask()">自己发布项目</button>-->

</ion-content>