page-choosedesigner {
  $grid-font-color: #292929;

  .designer-list-grid {
    color: $grid-font-color;
  }

  .des-card {
    padding: .5em;
    height: auto;
  }
  .des-card-avatar {
    height: auto;
    max-height: 10em;
  }

  .des-card-img{
    max-height: 100%;
  }

  .avatar-icon-div {
    position: absolute;
    font-size: 2em;
    width: 85%;
    color: $emp_primary;
  }

  .avatar-icon-div ion-icon {
    float: right;
  }

  .des-card-middiv {
    height: 10%;
  }
  .des-card-name {
    float: left;
    color: #C13638;
    font-size: 1.2em;
  }
  .des-card-time {
    float: right;
    color: #F45D07;
    font-size: 1.2em;
  }
  .des-card-short {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1em;
  }
}