<ion-header>
    <ion-navbar [color]="shared.getPrimaryColor()">
        <ion-title>
            选择设计师
        </ion-title>
        <ion-buttons>
            <button *ngIf="isSelected">确定</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>


        <ion-item *ngFor="let designer of designers">
            <designer-item-max [designer]="designer"></designer-item-max>
            <input type="radio" [(ngModel)]="choosedDesignerId" [value]="designer.uid">
        </ion-item>



</ion-content>