<ion-header>
    <ion-navbar>
        <ion-title>
            选择设计师
        </ion-title>
        <ion-buttons>
            <button *ngIf="isSelected">确定</button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>

    <ion-list radio-group [(ngModel)]="autoManufacturers">
        <ion-item *ngFor="let designer of designers">
            <designer-item-max [designer]="designer"></designer-item-max>
            <ion-label>Cord</ion-label>
            <ion-radio [value]="designer.uid"></ion-radio>
        </ion-item>
    </ion-list>


    <!--<div *ngFor="let designer of designers" class="designer-wrapper">-->
        <!--<designer-item-max [designer]="designer"></designer-item-max>-->
        <!--&lt;!&ndash;todo 选择按钮&ndash;&gt;-->
        <!--<div class="ok">-->

        <!--</div>-->
    <!--</div>-->
</ion-content>