page-projectdetail {

  $font-color: #828282;

  $bg-color: #e6eced;


  .header-row-first{
    padding-top: .5rem;
  }
  .header-row-last{
    padding-bottom: .5rem;
  }

  .respect-title {
    //margin: auto;
    text-align: left;
    color: #999!important;
    padding-left: .7rem;
  }

  .respect-title ion-icon {
    padding-left: .5rem;
  }

  .respect-content {
    padding-left: 0;
    padding-right: 1rem;
    color: #333!important;
  }
  .person-itrem {
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #e8e9ee !important;
  }

  .comment-avatar {
    width: 1.5rem !important;
    height: 1.5rem !important;
    max-width: 1.5rem !important; //any size
    max-height: 1.5rem !important; //any size
    min-width: 1.5rem !important;
    min-height: 1.5rem !important;
  }

  .comment-avatar img {
    width: 100% !important;
    height: 100% !important;
    max-width: 1.5rem !important; //any size
    max-height: 1.5rem !important; //any size
  }

  .person-arrow-icon {
    //font-size: small;
    color: #c9cacf;
  }

  .more-weight {
    font-weight: 500;
    color: #000000;
  }

  .order-state {
    color: #FDBC42;
  }

  .order-price {
    color: #FDBC42;
  }

  .itrem-divider-cus-10 {
    width: 100%;
    height: .3rem;
    background-color: $bg-color;
  }
  .itrem-divider-cus-20 {
    width: 100%;
    height: .6rem;
    background-color: $bg-color;
  }

  .order-photo ion-col {
    width: 8rem;
    height: 8rem;
    //margin: .2rem 0.3rem 0.3rem;
  }

  .order-photo ion-icon img {
    max-width: 100%;
  }

  .order-photo ion-col:first-child {
    margin-left: .5rem;
  }

  .order-photo ion-col:last-child {
    margin-right: .5rem;
  }

  .footer-btns {
    border-top:#efeff4 solid 2px;
    display: inline-flex;
    width: 100%;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .footer-btns button {
    height: 3.8333333333333335rem;
  }

  .footer-clear-btn {
    //background-color: transparent;
    color: $des-primary;
    padding: 0;
    width: 33.3% !important;
  }

  //设置返回文字为透明,不显示返回文字
  .back-button-text {
    color: transparent;
  }

.my-margin{
  margin: 0;
}
}