<ion-header no-border>
    <ion-navbar [color]="navColor" no-border>
        <ion-title>项目详情</ion-title>
        <ion-buttons end>
            <button ion-button (click)="open(orderrocessPreSelectdesPage)">
                项目动态
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col class="respect-title more-weight" col-3>
            项目标题:
        </ion-col>
        <ion-col class="respect-content more-weight" col-9>
            {{project && project.title||"未填写"}}
        </ion-col>
    </ion-row>
    <div class="item-divider-cus-20"></div>
    <ion-item no-lines class="person-item">
        <!--<ion-icon name="person" item-start></ion-icon>-->
        <ion-avatar class="comment-avatar" item-start>
            <img [src]="creator&&creator.img_url||'assets/img/designer-default-avatar.png'">
        </ion-avatar>
        <h3>{{creator&&creator.nickname||'未设置'}}</h3>
        <!--<ion-icon class="person-arrow-icon" name="arrow-forward" item-end></ion-icon>-->
    </ion-item>


    <ion-row class="header-row-first">
        <ion-col class="respect-title more-weight" col-4>
            <ion-icon name="clock-outline"></ion-icon>
            预计完成:
        </ion-col>
        <ion-col class="respect-content more-weight" col-8>
            {{project &&project.period||0 }} Hour
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col class="respect-title more-weight" col-3>
            项目预算:
        </ion-col>
        <ion-col class="respect-content order-price" col-9>
            {{project &&project.budget||0 }}元
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="respect-title" col-3>
            项目类型:
        </ion-col>
        <ion-col class="respect-content" col-9>
            {{project && share.project_type[project.type]}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="respect-title" col-3>
            设计面积:
        </ion-col>
        <ion-col class="respect-content" col-9>
            {{project && project.area_count || 0 }}平方米
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="respect-title" col-3>
            设计深度:
            <!--todo 设计深度-->
        </ion-col>
        <ion-col class="respect-content" col-9>
            {{project &&project.depth}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="respect-title" col-3>
            工时:
        </ion-col>
        <ion-col class="respect-content" col-9>
            {{project &&project.period || 0}}
        </ion-col>
    </ion-row>
    <div class="item-divider-cus-10"></div>
    <ion-row>
        <ion-col class="respect-title" col-3>
            下单时间:
        </ion-col>
        <ion-col class="respect-content" col-9>
            <!--2017-07-01 21:07-->
            {{project && project.create_time && util.stringifyDate(project.create_time).withYear}}
        </ion-col>
    </ion-row>
    <div class="item-divider-cus-10"></div>
    <ion-row>
        <ion-col class="respect-title" col-3>
            项目详情:
        </ion-col>
        <ion-col class="respect-content" col-9>
            {{project && project.content||"未设置"}}
        </ion-col>
    </ion-row>
    <!--项目图片-->
    <ion-row class="order-photo">
        <img *ngFor="let img of imgs" [src]="img.img_url"/>
    </ion-row>

</ion-content>

<ion-footer class="footer-btns" *ngIf="isDesigner">
    <button class="footer-clear-btn" clear ion-button color="primary" (click)="collect()" icon-start style="width: 50%">
        <ion-icon name="ios-star-outline" *ngIf="collectstate===0"></ion-icon>
        <ion-icon name="ios-star" *ngIf="collectstate===1" class="order-state"></ion-icon>
        收藏
    </button>
    <button class="footer-clear-btn" (click)="openChat({sessionId: 'hgyuguyg'})" clear ion-button color="primary"
            icon-start style="width: 50%">
        <ion-icon name="text-outline"></ion-icon>
        喵喵
    </button>
    <!--todo orderId-->
    <button ion-button color="primary" (click)="openGrabOrderPage()" style="width: 60%!important;">立即抢单</button>

</ion-footer>

<ion-footer class="footer-btns" *ngIf="!isDesigner">

    <button ion-button color="emp-primary" (click)="open(pay)" style="width: 33.3%!important;">支付</button>
    <button ion-button color="emp-primary" (click)="open(commentorder)" style="width: 33.3%!important;">确认结单</button>
    <button ion-button color="emp-primary" style="width: 33.3%!important;">延时接单</button>

</ion-footer>
