<ion-header no-border>
    <ion-navbar [color]="shared.getPrimaryColor()" no-border>
        <ion-title>项目详情</ion-title>
        <ion-buttons end>
            <button ion-button   tappable (click)="openOrderrocessPreSelectdesPage()">
                项目动态
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <div class="details-picture">
        <ion-slides pager>

            <!--项目图片显示-->
            <ion-slide style="background-color: green">
                <img *ngFor="let img of imgs" [src]="img.img_url"/>
                <img *ngIf="imgs.length==0" src="asset/img/home-default.png"/>
            </ion-slide>

            <!--<ion-slide style="background-color: green">-->
                <!--<img src="assets/img/home-default.png" alt="">-->
            <!--</ion-slide>-->

            <!--<ion-slide style="background-color: blue">-->
                <!--<img src="assets/img/home-default.png" alt="">-->
            <!--</ion-slide>-->

            <!--<ion-slide style="background-color: red">-->
                <!--<img src="assets/img/home-default.png" alt="">-->
            <!--</ion-slide>-->

        </ion-slides>
    </div>
    <div class="details-title">{{project &&project.title||"未填写" }}</div>
    <div class="details-browse">
        <div class="details-browse-l"></div>
        <div class="details-browse-r"></div>
    </div>
    <div class="details-data">
        <div class="details-data-top">
            <div class="details-data-top-dt">
                <div class="details-data-top-dt-name">预算</div>
                <div class="details-data-top-dt-val"> {{project &&project.budget||0 }}元</div>
            </div>
            <div class="details-data-top-dt">
                <div class="details-data-top-dt-name">面积</div>
                <div class="details-data-top-dt-val">{{project && project.area_count || 0 }}平米</div>
            </div>
            <div class="details-data-top-dt">
                <div class="details-data-top-dt-name">类型</div>
                <div class="details-data-top-dt-val">{{project && shared.project_type[project.type]}}</div>
            </div>
        </div>
        <div class="details-data-bottom">
            <div class="details-data-dd">
                <div>设计深度：<span>{{project &&project.depth||'未填写'}}</span></div>
                <div>下单时间：<span>{{project && project.create_time && util.stringifyDate(project.create_time).withYear}}</span></div>
            </div>
            <div class="details-data-dd">
                <div>工时：<span>{{project &&project.period || 0}}</span></div>
                <!--<div>深度：<span>设计</span></div>-->
            </div>
        </div>
    </div>
    <div class="details-words">
        <div class="details-words-title">订单详情</div>
        <div class="details-words-text">
            {{project && project.content||"未设置"}}
            知道如何建立网站吗? 那么你已经知道如何构建移动 应用程序。 离子框架提供了最好的web和本地应用程序组件 建筑高度交互的本地和进步的web应用程序。
        </div>
    </div>
</ion-content>

<ion-footer class="footer-btns" *ngIf="shared.isDesModule()">
    <button class="footer-clear-btn" clear ion-button color="primary"   tappable (click)="collect()" icon-start
            style="width: 50%">
        <ion-icon name="ios-star-outline" *ngIf="collectstate===0"></ion-icon>
        <ion-icon name="ios-star" *ngIf="collectstate===1" class="order-state"></ion-icon>
        收藏
    </button>
    <button class="footer-clear-btn"   tappable (click)="openChat({sessionId: 'hgyuguyg'})" clear ion-button
            color="primary"
            icon-start style="width: 50%">
        <ion-icon name="text-outline"></ion-icon>
        喵喵
    </button>
    <!--todo orderId-->
    <button ion-button color="primary"   tappable (click)="openGrabOrderPage()" style="width: 60%!important;">立即抢单
    </button>

</ion-footer>

<ion-footer class="footer-btns" *ngIf="!shared.isDesModule()">

    <button ion-button color="emp-primary"   tappable (click)="openPayPage()" style="width: 33.3%!important;">支付</button>
    <button ion-button color="emp-primary"   tappable (click)="openCommentOrderPage()" style="width: 33.3%!important;">确认结单</button>
    <button ion-button color="emp-primary" style="width: 33.3%!important;">延时接单</button>

</ion-footer>
