<div class="publish-order-card">
    <div class="publish-order-content">
        <div class="publish-order-img">
            <img src="{{order.caseImg}}"/>
        </div>
        <div class="publish-order-content-right">
            <div class="publish-order-top">
                <div class="publish-order-desc">
                    {{order.caseDesc}}
                </div>
            </div>
            <div class="publish-order-center">
                <div class="publish-order-price">¥{{order.caseMoney}}</div>
                <div class="publish-order-grab">马上抢单 ></div>
            </div>
            <div class="publish-order-bottom">
                <div class="publish-order-favorite-num">{{order.caseFav}}人收藏</div>
                <div class="publish-order-upto-time">{{order.caseTime}}后截止</div>
            </div>
            <div class="publish-order-progressbar">
                <div class="publish-order-progressbar-l"></div>
                <!--<div class="my-bar-r"></div>-->
            </div>
        </div>
    </div>
</div>
