<ion-header class="projects-header">

    <!--<ion-row class="projects-blank-row">-->
    <!--</ion-row>-->
    <ion-row class="projects-header-row">
        <ion-col col-3
                 class="header-number">
            <div class="number-detail">
                {{projects.length}}
            </div>
            <div class="number-label">
                <!--设计时长-->
                已发布
            </div>
        </ion-col>

        <ion-col col-3
                 class="header-number">
            <!--todo 成交数-->
            <div class="number-detail">
                0
            </div>
            <div class="number-label">
                成交数
            </div>
        </ion-col>

        <ion-col col-6 class="header-right-col">
            <div class="head-time">
                <div class="datetime">{{util.stringifyDate(date).year}}年{{util.stringifyDate(date).month}}月<br/>
                    {{util.stringifyDate(date).week}}
                </div>
                <div class="dayofmonth">{{util.stringifyDate(date).day}}</div>
            </div>
            <!--<div class="header-toast">-->
            <!--今日有一条订单需支付-->
            <!--</div>-->
        </ion-col>
    </ion-row>
    <ion-row class="type-nav">
        <ion-col tappable (click)="select([0,1,2])"
                 col-3 class="order-type-col order-type-color" text-center>
            <div [class.active]="processType[0] === 0">
                <custom-icon class="custom-icon" set="cat" name="projects-waitdesign"></custom-icon>
                <br>
                待处理
            </div>
        </ion-col>
        <ion-col tappable (click)="select([3])"
                 col-3 class="order-type-col order-type-color" text-center>
            <div [class.active]="processType[0] === 3">
                <custom-icon class="custom-icon" set="cat" name="projects-waitorder"></custom-icon>
                <br>
                待支付
            </div>
        </ion-col>
        <ion-col tappable (click)="select([4,5,7])"
                 col-3 class="order-type-col order-type-color " text-center>
            <div [class.active]="processType[0] === 4">
                <custom-icon class="custom-icon" set="cat" name="my-comment"></custom-icon>
                <br>
                待交付
                <!--已支付-->
            </div>
        </ion-col>
        <ion-col tappable (click)="select([6,7,8])"
                 col-3 class="order-type-col order-type-color" text-center>
            <div [class.active]="processType[0] === 6">
                <custom-icon class="custom-icon" set="cat" name="projects-all"></custom-icon>
                <br>
                已完成
            </div>
        </ion-col>
    </ion-row>
</ion-header>

<ion-content>


    <ion-refresher (ionRefresh)="doRefresh(event)">
        <ion-refresher-content
                pullingIcon="ios-arrow-down"
                pullingText="下拉刷新"
                refreshingSpinner="dots"
                refreshingText="刷新中">
        </ion-refresher-content>
    </ion-refresher>


    <employer-project-status *ngFor="let project of currentProjs" [project]="project"></employer-project-status>

    <no-project *ngIf="currentProjs.length===0"></no-project>

</ion-content>