page-employer-projects {

  $font-size-label: 1.15em;

  .projects-header {
    background-color: $emp_primary;
    height: 25%;
  }

  .projects-blank-row {
    height: 40%;
  }

  .projects-header-row {
    height: 60%;
  }
  .header-number {
    text-align: center;
    border-image: -webkit-linear-gradient(red, white);
    border-width: 0 1px 0 0;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: white;
    border-image: linear-gradient($emp_primary, rgba(255, 255, 255, 0.24), white) 5 5;
  }

  .number-label {
    height: 30%;
    color: white;
    font-size: $font-size-label;
  }

  .number-detail {
    margin: auto;
    height: 70%;
    color: white;
    padding-top: 5%;
    font-size: 300%;
    font-weight: 500;
  }

  .header-right-col {
    color: white;
  }

  .head-time {
    display: inline-flex;
    width: 100%;
    height: 70%;
  }

  .datetime {
    width: 50%;
    font-size: 1em;
    margin: auto;
    margin-top: 0em;
    text-align: right;
    padding-right: .5em;
  }

  .dayofmonth {
    width: 50%;
    font-size: 400%;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.64);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: -10%;
    //margin-bottom:-20% ;
  }

  .header-toast {
    height: 30%;
    padding-top: 0%;
    //margin-left: -20%;
    font-size: 1em;
    margin: auto;
    text-align: center;
    color: rgba(255, 255, 255, 0.64);
  }

  ion-content{
    background-color: #ebecf1 !important;
  }

  .type-nav{
    background-color: white;
  }

  ion-content ion-row ion-col{
    padding-bottom: 0!important;
  }

  .order-type-color{
    color: #9e9e9e;
    font-weight: 400;
  }

  .active{
    color: $emp_primary;
    border-bottom-color: $emp_primary;
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }

  .custom-icon {
    font-size: 2.2em;
    padding-right: 70%;
    padding-left: 28%;
  }

  .order-type-col div {
    padding-top: .25em;
    padding-bottom: .25em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em;
  }
}