page-login {
  .login-avatar {
    //height: 30%;
    margin: auto;
    text-align: center;
  }

  .login-avatar img {
    //width: 100%;
    //height: 100%;
  }


  .toolbar-title {
    color: #32db64 !important;
  }

  .bar-button {
    color: #32db64 !important;
  }
}
