page-login {
  .ion-content-class {
    repeat: fixed !important;
    background: url("../../../assets/img/SelectOption.png") no-repeat;
    background-size: 100% 100%;

  }
  .null-only-height {
    margin: 3.3em;
    height: 2em;
    font-size: 1.5em;
    color: #6E6E6E;
    text-align: center;
  }
  .myInput {
    width: 90%;
    margin-left: 5%;
  }

  .myInput input, select, textarea, button {
    width: 100%;
    margin-bottom: 1em;
    height: 3.2em;
    padding: 0 1em;
    border: 0.1em solid #dce4ec;
    background: #f5f5f5;
    border-radius: 0.25em;
    outline: 0;
    transition: border 0.4s linear, background 0.3s;
  }

  .myInput input[type='radio'] {
    width: 1em;
    height: 1em;
  }

  .myInput input:focus {
    border-color: #2483bc;
  }

  .myInput select:focus {
    border-color: #1abc9c;
  }

  .myInput input:read-only {
    border: 0.15em solid #eaeded;
    background: #eaeded;
  }

  .myInput input[type="submit"], input[type="button"], input[type="reset"], button {
    width: 8em;
    height: 2.5em;
    border: 0;
    color: white;
    background: #1abc9c;
  }

  .myInput input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover {
    background: #2fe2bf;
  }

  .myInput select {
    width: 12.3em;
    height: 2.5em;
    padding-left: 1em;
    padding-right: 0;
  }

  .myInput select:hover {
  }

  .myInput textarea {
    width: 20em;
    height: 10em;
    border: 0.1em solid #7c8185;
  }

  .myInput textarea:focus {
    border-color: #1abc9c;
  }

  .myInput-danger {
    /*background: #cf5045;*/
  }

  .myInput-danger:hover {
    background: #cf5045;
  }

  .login-btn {
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 2.5em;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    height: 3.2em;
    background-color: map_get($colors, login-des);
  }

  .register-btn {
    font-size: 1.2em;
    font-weight: 500;
    height: 2.2em;
    margin-top: 2.5em;
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-top: .5em;
    border-radius: 2em;
  }

  .forget-passowrd {
    margin-top: 2.5em;
    font-size: 1em;
  }
  .tip {
    margin-top: 9em !important;
    text-align: center;
    width: 100%;
  }
  .password{
    width: 100%;
    position: relative;
    .icondiv {
      position: absolute;
      font-size: 3rem;
      right: 1rem;
      top: 0.5rem;
      //bottom: 0;
      margin: auto;
      //background-color: #0a0a0a;
      color: #bfc9ca;
      transition: color 0.3s;
    }
  }

}
