<ion-header>
    <ion-navbar [color]="main_color">
        <!--<div class="cancel-project-head">-->
        <div class="cancel-project-head-left">
            <!--<img src="img/return.svg"/>-->
        </div>
        <ion-title class="cancel-project-head-center">取消订单</ion-title>
        <ion-buttons end>
            <button ion-button clear (click)="submit()">提交</button>
        </ion-buttons>

        <!--</div>-->
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="cancel-project-title">取消原因</div>

    <div class="cancel-project-li" *ngFor="let reason of reasonTexts;let i=index" (click)="changeStatus(i)">
        <div class="cancel-project-radio">
            <img *ngIf="!reasonChoose[i]" src="assets/img/radio02.png"/>
            <img *ngIf="reasonChoose[i]" src="assets/img/radio01.png"/>
        </div>
        <div class="cancel-project-name">{{reason}}</div>
    </div>

    <!--<div class="cancel-project-li">-->
        <!--<div class="cancel-project-radio">-->
            <!--<img src="assets/img/radio01.png"/>-->
        <!--</div>-->
        <!--<div class="cancel-project-name">已找到设计师</div>-->
    <!--</div>-->
    <!--<div class="cancel-project-li">-->
        <!--<div class="cancel-project-radio">-->
            <!--<img src="assets/img/radio02.png"/>-->
        <!--</div>-->
        <!--<div class="cancel-project-name">没有找到合适的设计师</div>-->
    <!--</div>-->
    <!--<div class="cancel-project-li">-->
        <!--<div class="cancel-project-radio">-->
            <!--<img src="assets/img/radio01.png"/>-->
        <!--</div>-->
        <!--<div class="cancel-project-name">我发错了</div>-->
    <!--</div>-->
    <!--<div class="cancel-project-li">-->
        <!--<div class="cancel-project-radio">-->
            <!--<img src="assets/img/radio02.png"/>-->
        <!--</div>-->
        <!--<div class="cancel-project-name">我不想发布了</div>-->
    <!--</div>-->
    <div class="cancel-project-title">其他原因</div>
    <div class="cancel-project-text"><textarea placeholder="如您是其他原因，请在此填写" [(ngModel)]="reason"></textarea></div>
</ion-content>