page-blank {
  .slides {
    height: 7rem;
    padding-top: 0;
    padding-bottom: 0;
  }

  .slides ion-slide img{
    //max-width: 100%;
    width: 100%!important;
    height: 100%!important;
  }
  .my-img{
    width: 16rem;
    height: 7.5rem;
  }
  .my-img ion-slide img{
    width: 100%;
    height: 100%;
  }
  .my-nav{
    width: 16rem;
    border-bottom: 0.5rem solid #efeff4;
    padding-bottom: 0.75rem;
    padding-top: 0.25rem;
  }
  .my-ul{
    width: 16rem;
    display:-webkit-box;
  }
  .my-li{
    width: 4rem;
    height: 4rem;
  }
  .my-li-img{
    width: 4rem;
    height: 2rem;
    text-align: center;
    margin-top: 0.75rem;
  }
  .my-li-img img{
    width: 2rem;
    height: 2rem;

  }
  .my-li-name{
    font-size: 0.7rem;
    width: 4rem;
    height: 1rem;
    text-align: center;
    margin-top: 0.15rem;
    font-family: helvetica;
  }
  .my-list{
    width: 16rem;
    padding: 0;
  }
  .clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
  .clearfloat{zoom:1}
  .my-list-li{
    width: 7.25rem;
    height: 10.5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    float: left;
  }
  .my-list-li-img{
    width: 7.25rem;
    height: 7.25rem;
  }
  .my-list-li-img img{
    width: 100%;
    height: 100%;
  }
  .my-list-li-text{
    width: 7.25rem;
    height: 1rem;
    display:-webkit-box;
    font-family: helvetica;
    font-size: 0.6rem;
    color: #fa4169;
    margin-top: 0.15rem;
  }
  .my-list-li-text-l{
    -webkit-box-flex:1;
  }
  .my-list-li-val{
    font-size: 0.6rem;
    line-height: 1rem;
  }
  .my-list-li-val p{
    margin: 0;
    display:-webkit-box;
    overflow:hidden;
    white-space:normal!important;
    text-overflow:ellipsis;
    word-wrap:break-word;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
  }
}