 page-blank{
.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $emp_primary!important;

}
  .line{
    //height: 10em;
    //padding-top: 45%;
    //width: 100%;
    background-color: $emp_primary!important;

  }



}