page-blank {
  .gou {
    width: 2em !important;
    height: 2em !important;
    border-radius: 50% !important;
    background-color: $emp_primary !important;
  }
  .gou div {
    margin: auto;
    font-size: 1em;
    color: white!important;
  }

  .pinglun {
    width: 3em !important;
    height: 3em !important;
    border-radius: 50% !important;
    background-color: #C13638 !important;
  }
  .pinglun div {
    padding-top: 3%;
    text-align: center;
    margin: auto;
    font-size: 2em;
    color: white!important;
  }

  .yirenzheng{
    width: 3em !important;
    height: 1em !important;
    border-radius: 0.5em !important;
    border-width: 1em;
    border-color: $emp_primary;
  }
  .yirenzheng div {
    margin: auto;
    margin-left: 2em;
    font-size: 1em;
    color: $emp_primary;
  }
  .line {
    //height: 10em;s
    //padding-top: 45%;
    //width: 100%;
    background-color: $emp_primary !important;
  }

}