page-notifications {

  .msg-header {
  //  border-bottom-color: #c9cacf;
   // border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: .2em;
    font-size: .9em;
  }

  .msg-type {
    float: left;
    //color: $des-primary;
    font-size: 1em;
  }

  .msg-time {
    float: right;
    color: #999;
  }

  .content {
    padding-top: .5em !important;
    font-size: 0.85em;
    color: #9E9E9E;
  }

  .order-id {
    text-decoration: underline;
  }

  ion-content {
    background-color: #eeeeee !important;
  }
  ion-card-header {
    padding-top: 5px !important;
  }
  ion-card {
    border: none !important;
    box-shadow: none !important;
    border-radius: 0.5rem!important;
  }
}