<ion-header>
    <ion-navbar [color]="maincolor">
        <ion-title>推送消息</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="ios-arrow-down"
                pullingText="下拉刷新"
                refreshingSpinner="dots"
                refreshingText="正在刷新...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-card *ngFor="let notics of noticeses">
            <ion-card-header class="msg-header">
                <div class="msg-type">{{notics.type}}</div>
                <div class="msg-time">{{formatTime(notics.create_time)}}</div>
            </ion-card-header>
            <ion-card-content class="content">
                <!--订单号<a class="order-id" (click)="openOrderDetail('100000000')">100000000</a>张三工程师参与工程厨房设计项目抢单敬请留意-->
                <!--订单号100000000张三工程师参与工程厨房设计项目抢单敬请留意-->
                {{notics.content}}
            </ion-card-content>
        </ion-card>


    </ion-list>
    <div *ngIf="noticeses.length==0" class="center">
        <button ion-button (click)="openLoginPage(event)" [color]="shared.getPrimaryColor()">请登录</button>
    </div>
</ion-content>
