
page-employer-tabs {

  a.icon-only {
   // margin: 1em 1em 1em 1em !important;
   // padding: .5em 0em 2em 0!important;
    font-size: .45em !important;
   // position: relative;
    display: block !important;
  }

  a.icon-only ion-icon {
    display: block;
    position: fixed;
    color: white !important;
    font-size: 4.5em !important;
    height: 1.5em !important;
    width: 1.5em !important;
   // font-size: 500em !important;
   // margin: auto !important;
    margin-top: -0em!important;
    margin-left: 4%;
    text-align: center !important;
    background-color: $emp_primary;
    border-radius: 1000em;
  }

  a.icon-only ion-icon::before {
    padding-top: .3em;
    text-align: center !important;
    vertical-align: middle !important;
  }

  //.add-icon, .icon-only {
  //  width: 2em !important;
  //  height: 2em !important;
  //  font-size: 2em !important;
  //  position: absolute;
  //  display: block !important;
  //  background-color: $emp_primary;
  //  border-radius: 1em;
  //}
  //
  //a.icon-only ion-icon {
  //  color: white!important;
  //  height: 2em !important;
  //  font-size: 2em !important;
  //  margin: auto !important;
  //  text-align: center !important;
  //}
}