
page-employer-tabs {

  .tab-button[aria-selected=true] .tab-button-icon {
    color: $emp-primary !important;
  }
  .tab-button[aria-selected=true] {
    color: $emp-primary !important;
  }

  a.icon-only {
    // margin: 1em 1em 1em 1em !important;
    // padding: .5em 0em 2em 0!important;
    font-size: .45em !important;
    // position: relative;
    display: block !important;
  }

  a.icon-only ion-icon {
    display: block;
    position: fixed;
    color: white !important;
    font-size: 2.25rem !important;
    height: 3.2rem !important;
    width: 3.2rem !important;
    // font-size: 500rem !important;
    // margin: auto !important;
    margin-top: -0rem !important;
    margin-left: 4%;
    text-align: center !important;
    background-color: $emp_primary;
    border-radius: 1000em;
  }

  a.icon-only ion-icon::before {
    padding-top: .15em;
    text-align: center !important;
    vertical-align: middle !important;
  }

}