
com-orderlist {
  .my-list{
    width: 100%;
    //background-color: #efeff4;
    background-color: white;
  }
  .my-ul{
    background-color: #fff;
   // height: 8rem;
    margin:1.66666666rem 1.25rem 0 2.7rem;
    box-shadow:0 1px 6px #ccc;
    border-radius: 5px;
    padding:1.25rem;
  }
  .my-li{
    /*background-color: #000;*/
    width: 28.25rem;
    height: 8rem;
    display:-webkit-box;
    position: relative;
    right: 2.7rem;
  }
  .my-li-img{
    width: 8rem;
    height: 8rem;
    background-color: #434343;
    border-radius: 5px;
    box-shadow:0 1px 6px #c1c1c1;
  }
  .my-li-img img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
  .my-li-right{
    -webkit-box-flex:1;
    margin-left: 1.25rem;
    font-family: helvetica;
  }
  .my-li-right-t{
    height: 3.16666666rem;
    font-size: 1.66666666rem;
    color: #333;
    display:-webkit-box;
  }
  .my-li-right-t-name{
    -webkit-box-flex:1;
    height: 3.16666666rem;
    line-height: 1.66666666rem;
    font-size: 1.16666666rem;
    color: #333;
    display:-webkit-box;
    overflow:hidden;
    white-space:normal!important;
    text-overflow:ellipsis;
    word-wrap:break-word;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
  }
  .my-li-right-c{
    display:-webkit-box;
    height: 1.66666666rem;
    margin-top: 0.4rem;
  }
  .my-li-right-c-l{
    -webkit-box-flex:1;
    height: 1.66666666rem;
    font-size: 1.66666666rem;
    color: #FDBC42;
  }
  .my-li-right-c-r{
    -webkit-box-flex:1;
    text-align: right;
    color: #FB865E;
    font-size:1rem;
  }
  .my-li-right-b{
    display:-webkit-box;
    height: 1.6rem;
    margin-top: 0.35rem;
  }
  .my-li-right-b-l{
    -webkit-box-flex:1;
    height: 1.66666666rem;
    font-size: 1rem;
    color: #666;
  }
  .my-li-right-b-r{
    -webkit-box-flex:1;
    text-align: right;
    color: #999;
    font-size:1rem;
  }
  .my-bar{
    height: 0.6rem;
    background-color: #cccccc;
    border-radius: 0.6rem;
  }
  .my-bar-l{
    width: 82%;
    height: 0.6rem;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    background: -webkit-linear-gradient(right, #3a83f6 , #94bbf8); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3a83f6 , #94bbf8); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,#3a83f6 , #94bbf8); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #3a83f6 , #94bbf8); /* 标准的语法 */
  }
}
