page-orderdetail {

  main-background {
    background-color: #ebf1f2;
    margin-top: 1em;
  }
;

  .respect-title {
    margin: auto;
    text-align: center;
  }

  .respect-content {
  }

  .order-photo ion-col {
    width: 8em;
    height: 8em;
    background-color: #e60d0b;
    margin: 1em 0.3em 0.3em;
  }

  .order-photo ion-col:first-child {
    margin-left: .5em;
  }

  .order-photo ion-col:last-child {
    margin-right: .5em;
  }

  .footer-btns {
    display: inline-flex;
    width: 100%;
  }

  .nobackground {
    background-color: transparent;
    color: blue;
    padding: 0;
    width: 20% !important;
  }

}