// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
custom-icon::before {
  width: 0em;
  height: 0em;
}

.item-input, .back-button-ios {
  min-height: 0 !important;
}

.item-block, .item-icon {
  min-height: 0 !important;
}

//ion-icon, custom-icon {
//  font-size: 1.4rem !important;
//}
//
//.back-button-icon-ios {
//  font-size: 1.7rem !important;
//}
.toolbar-title-ios{
  font-weight:normal!important;
}

.margin_bottom_0{
  margin-bottom: 0!important;
}

body{
  color: #333!important;
}

//弹出框
#pop_bg{
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(180, 180, 180, 0.61);
  .pop{
    background-color: whitesmoke;
    background-clip: content-box;
    border-radius: 1rem;
    position: relative;
    top: -100%;
    box-sizing: border-box;
    padding: 3rem;
    width: 100%;
    height: 100%;
    transition: 0.5s top cubic-bezier(0.52, 0, 0.46, 1.29);
  }
}

//弹出框

.background-div {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;

}

.background-div img{
    min-height: 100%
}

.footer-btn {
  width: 100%;
  height: 4.5rem;
  margin: 0 !important;
  padding: 0 !important;
}