<ul id="chat-list" class="m-chat-list p-chat-list">
    <li class="u-msg item-time" v-if="canLoadMore">
        ---- 上拉加载更多 ----
    </li>
    <li class="u-msg item-time" v-else>
        ---- 已无更多记录 ----
    </li>
    <chat-item
            *ngFor=" let msg of msglist"
            [type]="type"
            [rawMsg]="msg"
            [isRobot]="isRobot"
            [userInfos]="userInfos"
            [robotInfos]="robotInfos"
            [myInfo]="myInfo"
            [key]="msg.idClient"

    >
            <!--v-for="msg in msglist"-->
            <!--:type="type"-->
            <!--:rawMsg="msg"-->
            <!--:isRobot="isRobot"-->
            <!--:userInfos="userInfos"-->
            <!--:robotInfos="robotInfos"-->
            <!--:myInfo="myInfo"-->
            <!--:key="msg.idClient"-->
            <!--@msg-loaded="msgLoaded"-->
    </chat-item>
</ul>