page-myflower{
  .comment-item {
    display: inline-flex;
    height: 4em;
    width: 100%;
  }
  .comment-item .comment-avatar {
    width: 15%;
    height: 100%;
  }
  .comment-item .content {
    padding-left: 1em;
    width: 70%;
    height: 100%;
  }

  .comment-item .descimg {
    width: 15%;
    height: 100%;
    left: 90%;
    top: 90%;
    color: #c11c21!important;
    font-size: 2em !important;
  }

  .comment-item .content.des-card-describe {
    height: 18px;
    width: 100px;
    color: #9E9E9E;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; //文本行数
    overflow: hidden;
    font-size:0.8em;
  }
}