com-popver {
  // iOS Select
  // --------------------------------------------------

  /// @prop - Padding top of the select
  $select-ios-padding-top: $item-ios-padding-top !default;

  // deprecated
  $select-ios-padding-right: ($item-ios-padding-end / 2) !default;
  /// @prop - Padding end of the select
  $select-ios-padding-end: $select-ios-padding-right !default;

  /// @prop - Padding bottom of the select
  $select-ios-padding-bottom: $item-ios-padding-bottom !default;

  // deprecated
  $select-ios-padding-left: $item-ios-padding-start !default;
  /// @prop - Padding start of the select
  $select-ios-padding-start: $select-ios-padding-left !default;

  /// @prop - Color of the select icon
  $select-ios-icon-color: #999 !default;

  /// @prop - Color of the select placeholder
  $select-ios-placeholder-color: $select-ios-icon-color !default;

  .select-ios {
    @include padding($select-ios-padding-top, $select-ios-padding-end, $select-ios-padding-bottom, $select-ios-padding-start);
  }

  .select-ios .select-placeholder {
    color: $select-ios-placeholder-color;
  }

  .select-ios .select-icon {
    position: relative;

    width: 18px;
    height: 18px;
  }

  .select-ios .select-icon .select-icon-inner {
    @include position(50%, null, null, 5px);
    @include margin(-2px, null, null, null);

    position: absolute;

    width: 10px;
    height: 10px;

    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: $select-ios-icon-color;

    pointer-events: none;
  }


  $grid-font-color: #292929;

  .designer-list-grid {
    color: $grid-font-color;
    //width: 100px;
   // height: 120px;
  }

  .des-card {
    padding: .5em;
    height: auto;
  }
  .des-card-avatar {
    height: auto;
    max-height: 10em;
  }

  .des-card-img{
    max-height: 100%;
  }

  .avatar-icon-div {
    position: absolute;
    font-size: 1em;
    width: 85%;
    color: $emp_primary;
  }

  .avatar-icon-div ion-icon {
    float: right;
  }

  .des-card-middiv {
    height: 10%;
  }
  .des-card-name {
    float: left;
    color: #C13638;
    font-size: 1.2em;
  }
  .des-card-time {
    float: right;
    color: #F45D07;
    font-size: 1.2em;
  }
  .des-card-short {
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1em;
  }
}