page-home {

  .slides {
    height: 30%;
    padding-bottom: .5%
  }

  button {
  //  height: 3em;
  //  width: auto;
    margin: 0px !important;
    border-radius: 0em!important;
  }

  .order-type-btn{
    height: 3em;
    //margin-left: 1em;
    //margin-right: 1em;
    background-color: #e5e6eb;
    color: #000000;
  }

  ion-scroll {
    height: 3em;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .scroll-zoom-wrapper {
    display: inline-flex !important;
  }

}
