page-home {

  $background-color-home: #fdfdfd;

  .header-bar {
    width: 100%;
    display: inline-flex;
  }

  .logo {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    margin: auto;
    text-align: center;
    width: 15%;
    //margin-left: .2em;
    //margin-right: .5em;
  }

  .header-search {
    width: 75%;
  }

  .header-icon {
    width: 10%;
    color: white;
    margin: auto;
    text-align: center;
    //font-size: 1.5em;
    //margin-right: 5%;
  }

  //.header-icon ion-icon {
  //  padding-right: 5%;
  //}

  .slides {
    height: 30%;
    padding-bottom: .5%
  }

  .slides ion-slide img{
    //max-width: 100%;
    width: 100%;
    height: 100%;
  }

  ion-content {
    background-color: $background-color-home !important;
  }

  button {
    margin: 0px !important;
    border-radius: 0em !important;
  }

  .buttons-slide {
    height: 3em;
  }
  .scroll-zoom-wrapper {
    //border-bottom-color: #cccccc;
    //border-bottom-width: 0.05em!important;
    //border-bottom-style: solid;
    //
  }

  .order-type-btn {
    height: 2.5em;
    background-color: $background-color-home;
    color: rgba(41, 41, 41, 0.93);
    margin: .3em;
    width: 4em;
    font-size: 1.2em;
    border-bottom-width: .05em;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
  }

  .btn-active {
    color: map_get($colors, nav-des-bg);
    border-bottom-width: .1em;
    border-bottom-color: map_get($colors, nav-des-bg);

  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .scroll-zoom-wrapper {
    display: inline-flex !important;
  }

}
