page-home {

  .slides {
    height: 30%;
    padding-bottom: .5%
  }

  button {
    height: 3em;
    width: auto;
    margin: 0px !important;
  }

  ion-scroll {
    height: 3em;
  }

  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .scroll-zoom-wrapper {
    display: inline-flex !important;
  }

}
