<ion-header>
    <ion-navbar color="nav-des-bg">
        <div class="header-bar">
            <div class="logo">夜猫</div>
            <ion-searchbar placeholder="搜索内容" class="header-search">
                [(ngModel)]="myInput"
                <!--[showCancelButton]="shouldShowCancel"-->
                <!--(ionInput)="onInput($event)"-->
                <!--(ionCancel)="onCancel($event)"-->
            </ion-searchbar>
            <button ion-button icon-only icon-end class="header-icon" (click)="open(messagePage)">
                <ion-icon name="text"></ion-icon>
            </button>
        </div>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides class="slides" pager paginationType="bullets" loop>
        <ion-slide *ngFor="let image of images">
            <img src="{{image.url}}"/>
        </ion-slide>
    </ion-slides>

    <ion-scroll scrollX="true" class="buttons-slide">
        <button class="order-type-btn" *ngFor="let type of types;let i=index"
                [class.btn-active]="currentType === i" (click)="selectType(i)">{{type.name}}
        </button>
    </ion-scroll>
    <com-orderlist></com-orderlist>

</ion-content>
