<div class="publish-order-card" tappable (click)="openProjectDetail(project)">
    <div class="publish-order-content">
        <div class="publish-order-img">
            <img src="{{project&&project.img_urls&&project.img_urls[0] || 'assets/img/project-default-img.png'}}"/>
        </div>
        <div class="publish-order-content-right">
            <div class="publish-order-top">
                <div class="publish-order-desc">
                    {{project&&project.title||'未填写'}}
                </div>
            </div>
            <div class="publish-order-center">
                <div class="publish-order-price">¥{{project&&project.budget||'未填写'}}</div>
                <div class="publish-order-grab">马上抢单 ></div>
            </div>
            <div class="publish-order-bottom">
                <div class="publish-order-favorite-num">{{project&&project.fav_count||0}}人收藏</div>
                <div class="publish-order-upto-time">
                    {{project&&project.due_time&&util.stringifyDate(project.due_time).withMonth}}截止
                </div>
            </div>
            <div class="publish-order-progressbar">
                <div class="publish-order-progressbar-l"></div>
                <!--<div class="my-bar-r"></div>-->
            </div>
        </div>
    </div>
</div>
