page-employer-home {

  $background-color-home: #fdfdfd;

  $grid-border-color: #cccccc;

  $grid-font-color: #292929;

  .header-bar {
    width: 100%;
    display: inline-flex;
  }

  .logo {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    margin: auto;
    text-align: center;
    width: 15%;
  }

  .header-search {
    width: 75%;
  }

  .header-icon {
    width: 10%;
    color: white;
    margin: auto;
    text-align: center;
  }

  .slides {
    height: 30%;
    padding-bottom: .5%
  }

  ion-content {
    background-color: $background-color-home !important;
  }

  .home-type-grid {
    color: $grid-font-color;
  }

  .home-type-col {
    padding-top: 1em;
    border-top-width: 1px;
    border-top-color: $grid-border-color;
    border-top-style: solid;
    border-right-width: 1px;
    border-right-color: $grid-border-color;
    border-right-style: solid;
  }

  .no-top-border {
    border-top: none !important;
  }
  .no-right-border {
    border-right: none !important;
  }

  .home-type-icon-container {
    background-color: #be84ff;
    height: 4.5em;
    width: 4.5em;
    margin: auto;
    margin-bottom: .5em;
    font-size: 0.5em;
    border-radius: 10%;
    padding-top: .2em;
    padding-bottom: .2em;
    color: white;
  }

  .home-type-icon {
    padding-top: -5px;
    color: white;
    font-size: 5em;
  }

  .home-type-row {
  }

  .designer-list-grid {
  }

  .des-card {
    padding: 5%;
    height: auto;
  }
  .des-card-avatar {
    height: auto;
  }
  .des-card-avatar img {
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
  }
  .des-card-middiv {
    height: 10%;
  }
  .des-card-name {
    float: left;
    color: #C13638;
    font-size: 0.85em;
  }
  .des-card-time {
    float: right;
    color: #F45D07;
    font-size: 0.85em;
  }
  .des-card-describe {
    height: 2em;
    line-height: 1em;
    width: 100%;
    color: #9E9E9E;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; //文本行数
    overflow: hidden;
    font-size: 0.8em;
  }
  .des-card-img {

  }

}
