<ion-header>
    <ion-navbar color="emp-primary">
        <div class="header-bar">
            <div class="logo">夜猫</div>
            <ion-searchbar placeholder="搜索内容" class="header-search">
                [(ngModel)]="myInput"
                <!--[showCancelButton]="shouldShowCancel"-->
                <!--(ionInput)="onInput($event)"-->
                <!--(ionCancel)="onCancel($event)"-->
            </ion-searchbar>
            <button ion-button icon-only icon-end class="header-icon" color="emp-primary" (click)="open(messagePage)">
                <ion-icon name="text"></ion-icon>
            </button>
        </div>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides class="slides" pager loop>
        <ion-slide *ngFor="let image of images">
            <img src="{{image.url}}"/>
        </ion-slide>
    </ion-slides>

    <ion-grid class="home-type-grid">
        <ion-row class="home-type-row">
            <ion-col *ngFor="let typeitem of types; let i = index"
                     col-3 class="home-type-col" text-center
                     [class.no-top-border]="i < 4"
                     [class.no-right-border]=" ((i + 1) % 4) === 0"
            >
                <div class="home-type-icon-container"
                     [style.background-color]="typeitem.color">
                    <ion-icon class="home-type-icon"
                              [name]="typeitem.icon">
                    </ion-icon>
                </div>
                {{ typeitem.name }}
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid class="designer-list-grid">
        <ion-row>
            <ion-col *ngFor="let desitem of desarray"
                     col-6 class="des-card" text-center>
                <div class="des-card-avatar">
                    <img (click)="openMeDetail({id:10000000,isDesigner:false})" class="des-card-img" src="{{desitem.avatar}}">
                </div>
                <div class="des-card-middiv">
                    <span class="des-card-name">{{desitem.name}}</span>
                    <span class="des-card-time">{{desitem.time}}</span>
                </div>
                <div class="des-card-describe">
                    {{desitem.describe}}
                </div>
            </ion-col>
        </ion-row>
        <!--</ion-row>-->
    </ion-grid>

</ion-content>
