<ion-header color="emp-primary" class="my-header">
    <!--<ion-navbar no-lines>-->
        <ion-toolbar>
            <ion-buttons start>
                <button menuToggle ion-button icon-only class="header-name" color="emp-primary">
                    建联夜猫
                </button>
            </ion-buttons>
            <!--todo add series event. if user want to search something -->
            <ion-searchbar placeholder="搜索设计师" class="header-search">
                [(ngModel)]="myInput"
                [showCancelButton]="shouldShowCancel"
                (ionInput)="onInput($event)"
                (ionCancel)="onCancel($event)"
            </ion-searchbar>
            <ion-buttons end>
                <!--todo add the click event. -->
                <button ion-button icon-only color="emp-primary"      tappable (click)="openNotificationsPage()">
                    <ion-icon name="text"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    <!--</ion-navbar>-->
</ion-header>

<ion-content>

    <ion-fab class="ion-fab">
        <button menuToggle ion-fab      tappable (click)="hideFab()" *ngIf="isFirstLogin">
            <img src="assets/img/logo1.png"/>
        </button>
    </ion-fab>



    <div class="my-title" *ngIf="shared.isLogin()">嗨, {{shared.getCurrentUser().nickname}}</div>
    <div class="my-title" *ngIf="!shared.isLogin()">嗨, 请<a class="aclass"     tappable (click)="openLoginPage($event)">登录</a></div>
    <div class="my-val">喵，今天还好吗，需要我帮你做些什么？</div>
    <div class="my-ul clearfloat">
        <div class="my-li my-left"     tappable (click)="btn_designer()" >
            <div class="my-li-ioc">
                <img src="assets/img/home01.png" alt="">
            </div>
            <div class="my-li-name">
                设计师
            </div>
            <!--<div class="my-li-val">-->

            <!--</div>-->
        </div>
        <div class="my-li"     tappable (click)="btn_fullstack()">
            <div class="my-li-ioc">
                <img src="assets/img/home02.png" alt="">
            </div>
            <div class="my-li-name">
                项目经理
            </div>
            <!--<div class="my-li-val">-->

            <!--</div>-->
        </div>
        <div class="my-li my-left"     tappable (click)="btn_types()">
            <div class="my-li-ioc">
                <img src="assets/img/home03.png" alt="">
            </div>
            <div class="my-li-name">
                分类
            </div>
            <!--<div class="my-li-val">-->

            <!--</div>-->
        </div>
        <div class="my-li"     tappable (click)="btn_helpChoosePage()">
            <div class="my-li-ioc">
                <img src="assets/img/home04.png" alt="">
            </div>
            <div class="my-li-name">
                帮我选
            </div>
            <!--<div class="my-li-val">-->

            <!--</div>-->
        </div>
    </div>

</ion-content>
