page-im{
  .friend{
    p{
      font-size: 1rem;
    }
    h2{
      margin-bottom: 0.5rem;
    }
  }

  .massage{

  }
  .massage h2{
  }
  .massage span{
float: right;
    margin-top: 0;
  }
  .massage p{

  }
}