page-im {

  .friend {
    p {
      font-size: 1rem;
    }
    h2 {
      margin-bottom: 0.5rem;
    }
  }

  .massage {

  }
  .massage div {

  }
  .massage div h2 {
    //float: left;
  }
  .time {
    color: #999;
    font-size: 1rem;
    line-height: 1rem;
    position: relative;
    bottom: .5rem;
    left: 14.5rem;
  }
  .id{
    color: #333;
  }
  .massage p {

  }
}