<ion-header>
    <ion-navbar [color]="shared.getPrimaryColor()">
        <!--todo 绑定事件 搜索设计师-->
        <!--<ion-searchbar *ngIf="previousPage!='chooseDesigner'" placeholder="搜索设计师" class="header-search">-->
            <!--&lt;!&ndash;[(ngModel)]="myInput"&ndash;&gt;-->
            <!--&lt;!&ndash;[showCancelButton]="shouldShowCancel"&ndash;&gt;-->
            <!--&lt;!&ndash;(ionInput)="onInput($event)"&ndash;&gt;-->
            <!--&lt;!&ndash;(ionCancel)="onCancel($event)"&ndash;&gt;-->
        <!--</ion-searchbar>-->
    </ion-navbar>
</ion-header>

<ion-content class="bodybg">
    <ion-refresher (ionRefresh)="doRefresh($event)" #refresher>
        <ion-refresher-content
                pullingIcon="ios-arrow-down"
                pullingText="下拉刷新"
                refreshingSpinner="dots"
                refreshingText="刷新中">
        </ion-refresher-content>
    </ion-refresher>


    <designer-item-max *ngFor="let des of designers" [designer]="des"></designer-item-max>

    <div *ngIf="designers && designers.length == 0" class="no-list">
        <ion-icon name="ios-people-outline"></ion-icon>
        <p>暂时没有设计师入驻</p>
    </div>



</ion-content>
