<ion-header>
    <ion-navbar [color]="shared.getPrimaryColor()">
        <!--todo 绑定事件 搜索设计师-->
        <!--<ion-searchbar *ngIf="previousPage!='chooseDesigner'" placeholder="搜索设计师" class="header-search">-->
            <!--&lt;!&ndash;[(ngModel)]="myInput"&ndash;&gt;-->
            <!--&lt;!&ndash;[showCancelButton]="shouldShowCancel"&ndash;&gt;-->
            <!--&lt;!&ndash;(ionInput)="onInput($event)"&ndash;&gt;-->
            <!--&lt;!&ndash;(ionCancel)="onCancel($event)"&ndash;&gt;-->
        <!--</ion-searchbar>-->
    </ion-navbar>
</ion-header>

<ion-content class="bodybg">
    <ion-refresher (ionRefresh)="doRefresh($event)" #refresher>
        <ion-refresher-content
                pullingIcon="ios-arrow-down"
                pullingText="Pull to refresh"
                refreshingSpinner="dots"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>


    <designer-item-max *ngFor="let des of designers" [designer]="des"></designer-item-max>



</ion-content>
