<div class="my-ul" (click)="openDesignerPage(_designer)">
    <div class="my-dl">
        <div class="my-dt"><img [src]="_designer && _designer.img_url || 'assets/img/designer-default-avatar.png' "
                                alt=""/></div>
        <div class="my-dd">
            <div class="my-title">
                {{_designer&&_designer.nickname||"未填写"}}
            </div>
            <div class="my-introduction">
                {{_designer&&_designer.summary||"未填写"}}
            </div>
            <div class="my-ol">
                <div class="y-li">
                    <div class="y-li-val">{{_designer&&_designer.service_length||"0"}}</div>
                    <div class="y-li-name">工龄</div>
                </div>
                <div class="y-li">
                    <div class="y-li-val">{{_designer&&_designer.total_works||"0"}}</div>
                    <div class="y-li-name">总工时</div>
                </div>
                <div class="y-li">
                    <div class="y-li-val">¥{{_designer&&_designer.hourly_wage||"未填写"}}</div>
                    <div class="y-li-name">时薪</div>
                </div>
            </div>
            <div class="my-bar">
                <div class="my-bar-l"></div>
                <div class="my-bar-r"></div>
            </div>
        </div>
    </div>
</div>
