<ion-header class="projects-header">

    <ion-row class="projects-header-row">
        <ion-col col-3
                 class="header-number">
            <div class="number-detail">
                {{projects.length||0}}
            </div>
            <div class="number-label">
                接单数
            </div>
        </ion-col>

        <ion-col col-3 (click)="select([6,8,9])"
                 class="header-number">
            <!--todo 完成数 -->
            <div class="number-detail">
                {{completeCount||0}}
            </div>
            <div class="number-label">
                完成数
            </div>

        </ion-col>

        <ion-col col-6 class="header-right-col">
            <div class="head-time">
                <div class="datetime">{{util.stringifyDate(date).year}}年{{util.stringifyDate(date).month}}月<br/>
                    {{util.stringifyDate(date).week}}
                </div>
                <div class="dayofmonth">{{util.stringifyDate(date).day}}</div>
            </div>
            <!--<div class="header-toast">-->
            <!--今日有一条订单需支付-->
            <!--</div>-->
        </ion-col>

        <!--<ion-col col-6 class="header-right-col">-->
        <!--<div class="head-time">-->
        <!--<div class="datetime">2017年2月<br/>-->
        <!--星期一-->
        <!--</div>-->
        <!--<div class="dayofmonth">27</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;<div class="header-toast">&ndash;&gt;-->
        <!--&lt;!&ndash;今日有一条订单需支付&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</ion-col>-->
    </ion-row>


    <ion-row class="type-nav">
        <ion-col tappable (click)="select([0,1,2])"
                 col-3 class="order-type-col order-type-color" text-center>
            <div [class.active]="processType[0] === 0">
                <custom-icon class="custom-icon" set="cat" name="projects-waitdesign"></custom-icon>
                <br>
                未确定
            </div>
        </ion-col>
        <ion-col tappable (click)="select([3])"
                 col-3 class="order-type-col order-type-color" text-center>
            <div [class.active]="processType[0] === 3">
                <custom-icon class="custom-icon" set="cat" name="projects-waitorder"></custom-icon>
                <br>
                未支付
            </div>
        </ion-col>
        <ion-col tappable (click)="select([4,5,7])"
                 col-3 class="order-type-col order-type-color " text-center>
            <div [class.active]="processType[0] === 4">
                <custom-icon class="custom-icon" set="cat" name="my-comment"></custom-icon>
                <br>
                未交付
            </div>
        </ion-col>
        <ion-col tappable (click)="select([6,8,9])"
                 col-3 class="order-type-col order-type-color" text-center>
            <div [class.active]="processType[0] === 6">
                <custom-icon class="custom-icon" set="cat" name="projects-all"></custom-icon>
                <br>
                已完成
            </div>
        </ion-col>
    </ion-row>


</ion-header>


<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="ios-arrow-down"
                pullingText="下拉刷新"
                refreshingSpinner="dots"
                refreshingText="刷新中">
        </ion-refresher-content>
    </ion-refresher>


    <designer-project-status *ngFor="let project of currentProjs" [project]="project"></designer-project-status>

    <no-project *ngIf="currentProjs.length===0&&syncComplete"></no-project>

</ion-content>