page-tasksquare {
  ion-header{
   // height:13.333333333333334rem  ;
  }
  .toolbar-title-ios{
    font-weight:normal!important;
  }
  $background-color-home: #efeff4;
  .img {
    height: 6.6rem ;
    width: 100%;
    background-color: transparent;
  }

  .type-buttons {
    background-color: white;
    display: inline-flex;
    padding: 1rem;
    width: 100%;
  }

  .type-btn:first-child {
    border-left-width: 0 !important;
  }

  .type-btn {
    text-align: center;
    width: 33%;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color:white;
    color: #3E3E3E;
    border-left: .5px solid #9E9E9E;
    border-radius: 0;

    font-size: 1.2rem;
  }

  .type-btn:active {
  }
  ion-content {
    background-color: $background-color-home !important;
  }
}